KiiniHelp/Service References/ServiceTicket/ServiceTicket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTicket" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTicket_CrearTicketAndroid_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearTicketAndroid" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_CrearTicketAndroid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearTicketAndroidResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_CrearTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_CrearTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTicketsUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicketsUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTicketsUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicketsUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTickets" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerDetalleTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerDetalleTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerDetalleTicketNoRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleTicketNoRegistrado" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_ObtenerDetalleTicketNoRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleTicketNoRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_GeneraPreticket_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneraPreticket" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_GeneraPreticket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneraPreticketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_CapturaCasillaTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CapturaCasillaTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceTicket_CapturaCasillaTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapturaCasillaTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTicket">
    <wsdl:operation name="CrearTicketAndroid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/CrearTicketAndroid" message="tns:IServiceTicket_CrearTicketAndroid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/CrearTicketAndroidResponse" message="tns:IServiceTicket_CrearTicketAndroid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/CrearTicket" message="tns:IServiceTicket_CrearTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/CrearTicketResponse" message="tns:IServiceTicket_CrearTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicketsUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTicketsUsuario" message="tns:IServiceTicket_ObtenerTicketsUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTicketsUsuarioResponse" message="tns:IServiceTicket_ObtenerTicketsUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTickets" message="tns:IServiceTicket_ObtenerTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTicketsResponse" message="tns:IServiceTicket_ObtenerTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerDetalleTicket" message="tns:IServiceTicket_ObtenerDetalleTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerDetalleTicketResponse" message="tns:IServiceTicket_ObtenerDetalleTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTicket" message="tns:IServiceTicket_ObtenerTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerTicketResponse" message="tns:IServiceTicket_ObtenerTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleTicketNoRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerDetalleTicketNoRegistrado" message="tns:IServiceTicket_ObtenerDetalleTicketNoRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/ObtenerDetalleTicketNoRegistradoResponse" message="tns:IServiceTicket_ObtenerDetalleTicketNoRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneraPreticket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/GeneraPreticket" message="tns:IServiceTicket_GeneraPreticket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/GeneraPreticketResponse" message="tns:IServiceTicket_GeneraPreticket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapturaCasillaTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTicket/CapturaCasillaTicket" message="tns:IServiceTicket_CapturaCasillaTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTicket/CapturaCasillaTicketResponse" message="tns:IServiceTicket_CapturaCasillaTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceTicket">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearTicketAndroid">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/CrearTicketAndroid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/CrearTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicketsUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/ObtenerTicketsUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTickets">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/ObtenerTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/ObtenerDetalleTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/ObtenerTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleTicketNoRegistrado">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/ObtenerDetalleTicketNoRegistrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraPreticket">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/GeneraPreticket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapturaCasillaTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceTicket/CapturaCasillaTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTicket">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/ServiceTicket.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>