KiiniHelp/Service References/ServiceTicket/ServiceTicket4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
  <xs:complexType name="ArrayOfHelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperCampoMascaraCaptura" nillable="true" type="tns:ArrayOfHelperCampoMascaraCaptura" />
  <xs:complexType name="HelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
  <xs:complexType name="ArrayOfHelperTickets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperTickets" nillable="true" type="tns:HelperTickets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperTickets" nillable="true" type="tns:ArrayOfHelperTickets" />
  <xs:complexType name="HelperTickets">
    <xs:sequence>
      <xs:element name="_x003C_Asigna_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_CambiaEstatus_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Canal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DentroSla_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_EsPropietario_x003E_k__BackingField" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusAsignacion_x003E_k__BackingField" nillable="true" type="q1:EstatusAsignacion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusTicket_x003E_k__BackingField" nillable="true" type="q2:EstatusTicket" />
      <xs:element name="_x003C_FechaHora_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GrupoAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IdGrupoAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdImpacto_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdNivelAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdSubRolAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuarioAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuario_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ImagenPrioridad_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ImagenSla_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Impacto_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NivelUsuarioAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NombreUsuario_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NumeroTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RecienCerrado_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TipoTicketAbreviacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TipoTicketDescripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Total_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuarioAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" name="_x003C_UsuarioSolicito_x003E_k__BackingField" nillable="true" type="q3:Usuario" />
      <xs:element name="_x003C_Vip_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperTickets" nillable="true" type="tns:HelperTickets" />
  <xs:complexType name="HelperDetalleTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsignacionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsignacionesDetalle" nillable="true" type="tns:ArrayOfHelperAsignacionesDetalle" />
      <xs:element minOccurs="0" name="ConversacionDetalle" nillable="true" type="tns:ArrayOfHelperConversacionDetalle" />
      <xs:element minOccurs="0" name="CveRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusDetalle" nillable="true" type="tns:ArrayOfHelperEstatusDetalle" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstatusAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioLevanto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperDetalleTicket" nillable="true" type="tns:HelperDetalleTicket" />
  <xs:complexType name="ArrayOfHelperAsignacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperAsignacionesDetalle" nillable="true" type="tns:HelperAsignacionesDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperAsignacionesDetalle" nillable="true" type="tns:ArrayOfHelperAsignacionesDetalle" />
  <xs:complexType name="HelperAsignacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioAsignado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAsigno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperAsignacionesDetalle" nillable="true" type="tns:HelperAsignacionesDetalle" />
  <xs:complexType name="ArrayOfHelperConversacionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperConversacionDetalle" nillable="true" type="tns:HelperConversacionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperConversacionDetalle" nillable="true" type="tns:ArrayOfHelperConversacionDetalle" />
  <xs:complexType name="HelperConversacionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="tns:ArrayOfHelperConversacionArchivo" />
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperConversacionDetalle" nillable="true" type="tns:HelperConversacionDetalle" />
  <xs:complexType name="ArrayOfHelperConversacionArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperConversacionArchivo" nillable="true" type="tns:HelperConversacionArchivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperConversacionArchivo" nillable="true" type="tns:ArrayOfHelperConversacionArchivo" />
  <xs:complexType name="HelperConversacionArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdConversacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperConversacionArchivo" nillable="true" type="tns:HelperConversacionArchivo" />
  <xs:complexType name="ArrayOfHelperEstatusDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperEstatusDetalle" nillable="true" type="tns:HelperEstatusDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperEstatusDetalle" nillable="true" type="tns:ArrayOfHelperEstatusDetalle" />
  <xs:complexType name="HelperEstatusDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioMovimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperEstatusDetalle" nillable="true" type="tns:HelperEstatusDetalle" />
  <xs:complexType name="HelperTicketDetalle">
    <xs:sequence>
      <xs:element name="_x003C_Asigna_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_CambiaEstatus_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ConversacionDetalle_x003E_k__BackingField" nillable="true" type="tns:ArrayOfHelperConversacionDetalle" />
      <xs:element name="_x003C_CorreoUsuarioPrincipal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" name="_x003C_DetalleUsuarioLevanto_x003E_k__BackingField" nillable="true" type="q4:Usuario" />
      <xs:element name="_x003C_DiferenciaSla_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EsPropietario_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Escala_x003E_k__BackingField" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusAsignacion_x003E_k__BackingField" nillable="true" type="q5:EstatusAsignacion" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" name="_x003C_EstatusTicket_x003E_k__BackingField" nillable="true" type="q6:EstatusTicket" />
      <xs:element name="_x003C_FechaSolicitud_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" name="_x003C_GrupoAsignado_x003E_k__BackingField" nillable="true" type="q7:GrupoUsuario" />
      <xs:element name="_x003C_IdImpacto_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuarioAsignado_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdUsuarioLevanto_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Impacto_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NivelUsuarioAsignado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Reasigna_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UltimaActualizacion_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" name="_x003C_UsuarioAsignado_x003E_k__BackingField" nillable="true" type="q8:Usuario" />
      <xs:element name="_x003C_UsuarioLevanto_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperTicketDetalle" nillable="true" type="tns:HelperTicketDetalle" />
</xs:schema>