KiiniHelp/Service References/ServiceTicket/ServiceTicket1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
  <xs:import schemaLocation="http://localhost:15277/ServiceTicket.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CrearTicketAndroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioSolicito" type="xs:int" />
        <xs:element minOccurs="0" name="idArbol" type="xs:int" />
        <xs:element minOccurs="0" name="latitudinicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitudinicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaalta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitudfin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitudfin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCanal" type="xs:int" />
        <xs:element minOccurs="0" name="campoRandom" type="xs:boolean" />
        <xs:element minOccurs="0" name="esTercero" type="xs:boolean" />
        <xs:element minOccurs="0" name="esMail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTicketAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="CrearTicketAndroidResult" nillable="true" type="q1:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioSolicito" type="xs:int" />
        <xs:element minOccurs="0" name="idArbol" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="lstCaptura" nillable="true" type="q2:ArrayOfHelperCampoMascaraCaptura" />
        <xs:element minOccurs="0" name="idCanal" type="xs:int" />
        <xs:element minOccurs="0" name="campoRandom" type="xs:boolean" />
        <xs:element minOccurs="0" name="esTercero" type="xs:boolean" />
        <xs:element minOccurs="0" name="esMail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="CrearTicketResult" nillable="true" type="q3:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerTicketsUsuarioResult" nillable="true" type="q4:ArrayOfHelperTickets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="estatus" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerTicketsResult" nillable="true" type="q6:ArrayOfHelperTickets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerDetalleTicketResult" nillable="true" type="q7:HelperDetalleTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerTicketResult" nillable="true" type="q8:HelperTicketDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleTicketNoRegistrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="cveRegistro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleTicketNoRegistradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerDetalleTicketNoRegistradoResult" nillable="true" type="q9:HelperDetalleTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraPreticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanto" type="xs:int" />
        <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraPreticketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="GeneraPreticketResult" nillable="true" type="q10:PreTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapturaCasillaTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="nombreCampo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapturaCasillaTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CapturaCasillaTicketResult" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPreticketCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPreticketCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="ObtenerPreticketCorreoResult" nillable="true" type="q12:PreTicketCorreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaPreTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmaPreTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>