KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServicePuesto/ServicePuesto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePuesto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServicePuesto.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePuesto_ObtenerPuestosByTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestosByTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_ObtenerPuestosByTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestosByTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_ObtenerPuestoById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestoById" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_ObtenerPuestoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_ObtenerPuestoConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestoConsulta" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_ObtenerPuestoConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPuestoConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Habilitar_InputMessage">
    <wsdl:part name="parameters" element="tns:Habilitar" />
  </wsdl:message>
  <wsdl:message name="IServicePuesto_Habilitar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePuesto">
    <wsdl:operation name="ObtenerPuestosByTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestosByTipoUsuario" message="tns:IServicePuesto_ObtenerPuestosByTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestosByTipoUsuarioResponse" message="tns:IServicePuesto_ObtenerPuestosByTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPuestoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestoById" message="tns:IServicePuesto_ObtenerPuestoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestoByIdResponse" message="tns:IServicePuesto_ObtenerPuestoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/Guardar" message="tns:IServicePuesto_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/GuardarResponse" message="tns:IServicePuesto_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/Actualizar" message="tns:IServicePuesto_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/ActualizarResponse" message="tns:IServicePuesto_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPuestoConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestoConsulta" message="tns:IServicePuesto_ObtenerPuestoConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/ObtenerPuestoConsultaResponse" message="tns:IServicePuesto_ObtenerPuestoConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePuesto/Habilitar" message="tns:IServicePuesto_Habilitar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePuesto/HabilitarResponse" message="tns:IServicePuesto_Habilitar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServicePuesto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPuestosByTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/ObtenerPuestosByTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPuestoById">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/ObtenerPuestoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPuestoConsulta">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/ObtenerPuestoConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <soap:operation soapAction="http://tempuri.org/IServicePuesto/Habilitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePuesto">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/ServicePuesto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>