KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceMascaraAcceso/ServiceMascaras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMascaras" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceMascaras.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMascaras_CrearMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_CrearMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMascaraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ActualizarMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ActualizarMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMascaraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascaraCaptura_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascaraCaptura" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascaraCaptura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascaraCapturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascaraCapturaByIdTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascaraCapturaByIdTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascaraCapturaByIdTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascaraCapturaByIdTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascarasAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascarasAcceso" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerMascarasAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMascarasAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerCatalogoCampoMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCatalogoCampoMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerCatalogoCampoMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCatalogoCampoMascaraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulta" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_HabilitarMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_HabilitarMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarMascaraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerDatosMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerDatosMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosMascaraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerReporteMascara_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteMascara" />
  </wsdl:message>
  <wsdl:message name="IServiceMascaras_ObtenerReporteMascara_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteMascaraResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMascaras">
    <wsdl:operation name="CrearMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/CrearMascara" message="tns:IServiceMascaras_CrearMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/CrearMascaraResponse" message="tns:IServiceMascaras_CrearMascara_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ActualizarMascara" message="tns:IServiceMascaras_ActualizarMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ActualizarMascaraResponse" message="tns:IServiceMascaras_ActualizarMascara_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascaraCaptura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascaraCaptura" message="tns:IServiceMascaras_ObtenerMascaraCaptura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascaraCapturaResponse" message="tns:IServiceMascaras_ObtenerMascaraCaptura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascaraCapturaByIdTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascaraCapturaByIdTicket" message="tns:IServiceMascaras_ObtenerMascaraCapturaByIdTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascaraCapturaByIdTicketResponse" message="tns:IServiceMascaras_ObtenerMascaraCapturaByIdTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascarasAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascarasAcceso" message="tns:IServiceMascaras_ObtenerMascarasAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerMascarasAccesoResponse" message="tns:IServiceMascaras_ObtenerMascarasAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCatalogoCampoMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerCatalogoCampoMascara" message="tns:IServiceMascaras_ObtenerCatalogoCampoMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerCatalogoCampoMascaraResponse" message="tns:IServiceMascaras_ObtenerCatalogoCampoMascara_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/Consulta" message="tns:IServiceMascaras_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ConsultaResponse" message="tns:IServiceMascaras_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/HabilitarMascara" message="tns:IServiceMascaras_HabilitarMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/HabilitarMascaraResponse" message="tns:IServiceMascaras_HabilitarMascara_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerDatosMascara" message="tns:IServiceMascaras_ObtenerDatosMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerDatosMascaraResponse" message="tns:IServiceMascaras_ObtenerDatosMascara_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteMascara">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerReporteMascara" message="tns:IServiceMascaras_ObtenerReporteMascara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMascaras/ObtenerReporteMascaraResponse" message="tns:IServiceMascaras_ObtenerReporteMascara_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceMascaras">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/CrearMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ActualizarMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascaraCaptura">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerMascaraCaptura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascaraCapturaByIdTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerMascaraCapturaByIdTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMascarasAcceso">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerMascarasAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCatalogoCampoMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerCatalogoCampoMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/HabilitarMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerDatosMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteMascara">
      <soap:operation soapAction="http://tempuri.org/IServiceMascaras/ObtenerReporteMascara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMascaras">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/ServiceMascaras.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>