KiiniHelp/Service References/ServiceFrecuencia/ServiceFrecuencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceFrecuencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceFrecuencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceFrecuencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceFrecuencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenGeneral" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenServicio" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenIncidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenIncidente" />
  </wsdl:message>
  <wsdl:message name="IServiceFrecuencia_ObtenerTopTenIncidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTopTenIncidenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceFrecuencia">
    <wsdl:operation name="ObtenerTopTenGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenGeneral" message="tns:IServiceFrecuencia_ObtenerTopTenGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenGeneralResponse" message="tns:IServiceFrecuencia_ObtenerTopTenGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenConsulta" message="tns:IServiceFrecuencia_ObtenerTopTenConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenConsultaResponse" message="tns:IServiceFrecuencia_ObtenerTopTenConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenServicio" message="tns:IServiceFrecuencia_ObtenerTopTenServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenServicioResponse" message="tns:IServiceFrecuencia_ObtenerTopTenServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenIncidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenIncidente" message="tns:IServiceFrecuencia_ObtenerTopTenIncidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenIncidenteResponse" message="tns:IServiceFrecuencia_ObtenerTopTenIncidente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceFrecuencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTopTenGeneral">
      <soap:operation soapAction="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenServicio">
      <soap:operation soapAction="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTopTenIncidente">
      <soap:operation soapAction="http://tempuri.org/IServiceFrecuencia/ObtenerTopTenIncidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFrecuencia">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceFrecuencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>