KiiniHelp/Service References/ServiceEncuesta/ServiceEncuesta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEncuesta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper.Reportes" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceEncuesta.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestas" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaById" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByIdTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByIdTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByIdTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByIdTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByIdConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByIdConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByIdConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByIdConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_GuardarEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEncuesta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_GuardarEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ActualizarEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEncuesta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ActualizarEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_HabilitarEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarEncuesta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_HabilitarEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestasPendientesUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestasPendientesUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestasPendientesUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestasPendientesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ContestaEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:ContestaEncuesta" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ContestaEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContestaEncuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestasContestadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestasContestadas" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestasContestadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestasContestadasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByGrupos" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerEncuestaByGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncuestaByGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoNps_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoNps" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoNps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoNpsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoCalificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoCalificacion" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoCalificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoCalificacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoCalificacionDescarga_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoCalificacionDescarga" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoCalificacionDescarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoCalificacionDescargaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoSatisfaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoSatisfaccion" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoSatisfaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoSatisfaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoSatisfaccionDescarga_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoSatisfaccionDescarga" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoSatisfaccionDescarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoSatisfaccionDescargaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoLogica_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoLogica" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoLogica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoLogicaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoLogicaDescarga_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoLogicaDescarga" />
  </wsdl:message>
  <wsdl:message name="IServiceEncuesta_ObtenerGraficoLogicaDescarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGraficoLogicaDescargaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEncuesta">
    <wsdl:operation name="ObtenerEncuestas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestas" message="tns:IServiceEncuesta_ObtenerEncuestas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasResponse" message="tns:IServiceEncuesta_ObtenerEncuestas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaById" message="tns:IServiceEncuesta_ObtenerEncuestaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdResponse" message="tns:IServiceEncuesta_ObtenerEncuestaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByIdTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdTicket" message="tns:IServiceEncuesta_ObtenerEncuestaByIdTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdTicketResponse" message="tns:IServiceEncuesta_ObtenerEncuestaByIdTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByIdConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdConsulta" message="tns:IServiceEncuesta_ObtenerEncuestaByIdConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdConsultaResponse" message="tns:IServiceEncuesta_ObtenerEncuestaByIdConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/GuardarEncuesta" message="tns:IServiceEncuesta_GuardarEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/GuardarEncuestaResponse" message="tns:IServiceEncuesta_GuardarEncuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ActualizarEncuesta" message="tns:IServiceEncuesta_ActualizarEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ActualizarEncuestaResponse" message="tns:IServiceEncuesta_ActualizarEncuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/Consulta" message="tns:IServiceEncuesta_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ConsultaResponse" message="tns:IServiceEncuesta_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/HabilitarEncuesta" message="tns:IServiceEncuesta_HabilitarEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/HabilitarEncuestaResponse" message="tns:IServiceEncuesta_HabilitarEncuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestasPendientesUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasPendientesUsuario" message="tns:IServiceEncuesta_ObtenerEncuestasPendientesUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasPendientesUsuarioResponse" message="tns:IServiceEncuesta_ObtenerEncuestasPendientesUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContestaEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ContestaEncuesta" message="tns:IServiceEncuesta_ContestaEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ContestaEncuestaResponse" message="tns:IServiceEncuesta_ContestaEncuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestasContestadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasContestadas" message="tns:IServiceEncuesta_ObtenerEncuestasContestadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasContestadasResponse" message="tns:IServiceEncuesta_ObtenerEncuestasContestadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByGrupos" message="tns:IServiceEncuesta_ObtenerEncuestaByGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByGruposResponse" message="tns:IServiceEncuesta_ObtenerEncuestaByGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoNps">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoNps" message="tns:IServiceEncuesta_ObtenerGraficoNps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoNpsResponse" message="tns:IServiceEncuesta_ObtenerGraficoNps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoCalificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacion" message="tns:IServiceEncuesta_ObtenerGraficoCalificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacionResponse" message="tns:IServiceEncuesta_ObtenerGraficoCalificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoCalificacionDescarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacionDescarga" message="tns:IServiceEncuesta_ObtenerGraficoCalificacionDescarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacionDescargaResponse" message="tns:IServiceEncuesta_ObtenerGraficoCalificacionDescarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoSatisfaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccion" message="tns:IServiceEncuesta_ObtenerGraficoSatisfaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccionResponse" message="tns:IServiceEncuesta_ObtenerGraficoSatisfaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoSatisfaccionDescarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccionDescarga" message="tns:IServiceEncuesta_ObtenerGraficoSatisfaccionDescarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccionDescargaResponse" message="tns:IServiceEncuesta_ObtenerGraficoSatisfaccionDescarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoLogica">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogica" message="tns:IServiceEncuesta_ObtenerGraficoLogica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogicaResponse" message="tns:IServiceEncuesta_ObtenerGraficoLogica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoLogicaDescarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogicaDescarga" message="tns:IServiceEncuesta_ObtenerGraficoLogicaDescarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogicaDescargaResponse" message="tns:IServiceEncuesta_ObtenerGraficoLogicaDescarga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceEncuesta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEncuestas">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaById">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByIdTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByIdConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByIdConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEncuesta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/GuardarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEncuesta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ActualizarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarEncuesta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/HabilitarEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestasPendientesUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasPendientesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContestaEncuesta">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ContestaEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestasContestadas">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestasContestadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncuestaByGrupos">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerEncuestaByGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoNps">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoNps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoCalificacion">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoCalificacionDescarga">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoCalificacionDescarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoSatisfaccion">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoSatisfaccionDescarga">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoSatisfaccionDescarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoLogica">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGraficoLogicaDescarga">
      <soap:operation soapAction="http://tempuri.org/IServiceEncuesta/ObtenerGraficoLogicaDescarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEncuesta">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceEncuesta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>