KiiniHelp/Service References/ServiceSistemaTipoArbolAcceso/ServiceTipoArbolAcceso1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoArbolAcceso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoArbolAcceso.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ObtenerTiposArbolAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposArbolAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposArbolAccesoResult" nillable="true" type="q1:ArrayOfTipoArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposArbolAccesoByGruposTercero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposArbolAccesoByGruposTerceroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposArbolAccesoByGruposTerceroResult" nillable="true" type="q2:ArrayOfTipoArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposArbolAccesoByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="grupos" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposArbolAccesoByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposArbolAccesoByGruposResult" nillable="true" type="q4:ArrayOfTipoArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>