KiiniHelp/Service References/ServiceAtencionTicket/SetviceAtencionTicket2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/SetviceAtencionTicket.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:15277/SetviceAtencionTicket.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
  <xs:element name="AutoAsignarTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoAsignarTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idEstatus" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarAsignacionTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idEstatusAsignacion" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioAsignado" type="xs:int" />
        <xs:element minOccurs="0" name="idNivelAsignado" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioAsigna" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarAsignacionTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComentarioConversacionTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sistema" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="archivos" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="privado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComentarioConversacionTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarAsignacionLeida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAsignacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarAsignacionLeidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketEnAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketEnAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerTicketEnAtencionResult" nillable="true" type="q2:HelperticketEnAtencion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroTicketsEnAtencionNuevos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNumeroTicketsEnAtencionNuevosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNumeroTicketsEnAtencionNuevosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>