KiiniHelp/Service References/ServiceSistemaDomicilio/ServiceDomicilioSistema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDomicilioSistema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerColoniasCp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoniasCp" />
  </wsdl:message>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerColoniasCp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoniasCpResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerDetalleColonia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleColonia" />
  </wsdl:message>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerDetalleColonia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleColoniaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstados" />
  </wsdl:message>
  <wsdl:message name="IServiceDomicilioSistema_ObtenerEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDomicilioSistema">
    <wsdl:operation name="ObtenerColoniasCp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerColoniasCp" message="tns:IServiceDomicilioSistema_ObtenerColoniasCp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerColoniasCpResponse" message="tns:IServiceDomicilioSistema_ObtenerColoniasCp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleColonia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerDetalleColonia" message="tns:IServiceDomicilioSistema_ObtenerDetalleColonia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerDetalleColoniaResponse" message="tns:IServiceDomicilioSistema_ObtenerDetalleColonia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerEstados" message="tns:IServiceDomicilioSistema_ObtenerEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDomicilioSistema/ObtenerEstadosResponse" message="tns:IServiceDomicilioSistema_ObtenerEstados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceDomicilioSistema">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerColoniasCp">
      <soap:operation soapAction="http://tempuri.org/IServiceDomicilioSistema/ObtenerColoniasCp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleColonia">
      <soap:operation soapAction="http://tempuri.org/IServiceDomicilioSistema/ObtenerDetalleColonia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstados">
      <soap:operation soapAction="http://tempuri.org/IServiceDomicilioSistema/ObtenerEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDomicilioSistema">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>