KiiniHelp/Service References/ServiceSistemaDomicilio/ServiceDomicilioSistema11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceDomicilioSistema.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
  <xs:element name="ObtenerColoniasCp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cp" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColoniasCpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" minOccurs="0" name="ObtenerColoniasCpResult" nillable="true" type="q1:ArrayOfColonia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleColonia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idColonia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalleColoniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" minOccurs="0" name="ObtenerDetalleColoniaResult" nillable="true" type="q2:Colonia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>