KiiniHelp/Service References/ServiceOrganizacion/ServiceOrganizacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOrganizacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceOrganizacion.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOrganizacion_ObtenerHoldings_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoldings" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerHoldings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHoldingsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerCompañias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompañias" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerCompañias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCompañiasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDirecciones" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerSubDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubDirecciones" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerSubDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerGerencias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGerencias" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerGerencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGerenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerSubGerencias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubGerencias" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerSubGerencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubGerenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerJefaturas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJefaturas" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerJefaturas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJefaturasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarHolding_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHolding" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarHolding_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHoldingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCompania" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCompaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarDireccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDireccion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarDireccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarSubDireccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSubDireccion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarSubDireccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSubDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarGerencia_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGerencia" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarGerencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGerenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarSubGerencia_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSubGerencia" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarSubGerencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSubGerenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarJefatura_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJefatura" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_GuardarJefatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJefaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizaciones" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_HabilitarOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_HabilitarOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionById" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ActualizarOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ActualizarOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionesGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesGrupos" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionesGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionesByIdOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesByIdOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_ObtenerOrganizacionesByIdOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesByIdOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_BuscarPorPalabra_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorPalabra" />
  </wsdl:message>
  <wsdl:message name="IServiceOrganizacion_BuscarPorPalabra_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorPalabraResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOrganizacion">
    <wsdl:operation name="ObtenerHoldings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerHoldings" message="tns:IServiceOrganizacion_ObtenerHoldings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerHoldingsResponse" message="tns:IServiceOrganizacion_ObtenerHoldings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompañias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerCompañias" message="tns:IServiceOrganizacion_ObtenerCompañias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerCompañiasResponse" message="tns:IServiceOrganizacion_ObtenerCompañias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerDirecciones" message="tns:IServiceOrganizacion_ObtenerDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerDireccionesResponse" message="tns:IServiceOrganizacion_ObtenerDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerSubDirecciones" message="tns:IServiceOrganizacion_ObtenerSubDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerSubDireccionesResponse" message="tns:IServiceOrganizacion_ObtenerSubDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGerencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerGerencias" message="tns:IServiceOrganizacion_ObtenerGerencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerGerenciasResponse" message="tns:IServiceOrganizacion_ObtenerGerencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubGerencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerSubGerencias" message="tns:IServiceOrganizacion_ObtenerSubGerencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerSubGerenciasResponse" message="tns:IServiceOrganizacion_ObtenerSubGerencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJefaturas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerJefaturas" message="tns:IServiceOrganizacion_ObtenerJefaturas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerJefaturasResponse" message="tns:IServiceOrganizacion_ObtenerJefaturas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacion" message="tns:IServiceOrganizacion_ObtenerOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionResponse" message="tns:IServiceOrganizacion_ObtenerOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarOrganizacion" message="tns:IServiceOrganizacion_GuardarOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarOrganizacionResponse" message="tns:IServiceOrganizacion_GuardarOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarHolding">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarHolding" message="tns:IServiceOrganizacion_GuardarHolding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarHoldingResponse" message="tns:IServiceOrganizacion_GuardarHolding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarCompania" message="tns:IServiceOrganizacion_GuardarCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarCompaniaResponse" message="tns:IServiceOrganizacion_GuardarCompania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarDireccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarDireccion" message="tns:IServiceOrganizacion_GuardarDireccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarDireccionResponse" message="tns:IServiceOrganizacion_GuardarDireccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarSubDireccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarSubDireccion" message="tns:IServiceOrganizacion_GuardarSubDireccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarSubDireccionResponse" message="tns:IServiceOrganizacion_GuardarSubDireccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarGerencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarGerencia" message="tns:IServiceOrganizacion_GuardarGerencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarGerenciaResponse" message="tns:IServiceOrganizacion_GuardarGerencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarSubGerencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarSubGerencia" message="tns:IServiceOrganizacion_GuardarSubGerencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarSubGerenciaResponse" message="tns:IServiceOrganizacion_GuardarSubGerencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarJefatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarJefatura" message="tns:IServiceOrganizacion_GuardarJefatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/GuardarJefaturaResponse" message="tns:IServiceOrganizacion_GuardarJefatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionUsuario" message="tns:IServiceOrganizacion_ObtenerOrganizacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionUsuarioResponse" message="tns:IServiceOrganizacion_ObtenerOrganizacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizaciones" message="tns:IServiceOrganizacion_ObtenerOrganizaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesResponse" message="tns:IServiceOrganizacion_ObtenerOrganizaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/HabilitarOrganizacion" message="tns:IServiceOrganizacion_HabilitarOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/HabilitarOrganizacionResponse" message="tns:IServiceOrganizacion_HabilitarOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionById" message="tns:IServiceOrganizacion_ObtenerOrganizacionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionByIdResponse" message="tns:IServiceOrganizacion_ObtenerOrganizacionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ActualizarOrganizacion" message="tns:IServiceOrganizacion_ActualizarOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ActualizarOrganizacionResponse" message="tns:IServiceOrganizacion_ActualizarOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionesGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesGrupos" message="tns:IServiceOrganizacion_ObtenerOrganizacionesGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesGruposResponse" message="tns:IServiceOrganizacion_ObtenerOrganizacionesGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionesByIdOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesByIdOrganizacion" message="tns:IServiceOrganizacion_ObtenerOrganizacionesByIdOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesByIdOrganizacionResponse" message="tns:IServiceOrganizacion_ObtenerOrganizacionesByIdOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorPalabra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrganizacion/BuscarPorPalabra" message="tns:IServiceOrganizacion_BuscarPorPalabra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrganizacion/BuscarPorPalabraResponse" message="tns:IServiceOrganizacion_BuscarPorPalabra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceOrganizacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerHoldings">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerHoldings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCompañias">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerCompañias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDirecciones">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubDirecciones">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerSubDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGerencias">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerGerencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubGerencias">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerSubGerencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJefaturas">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerJefaturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarHolding">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarHolding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCompania">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarDireccion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarSubDireccion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarSubDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarGerencia">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarGerencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarSubGerencia">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarSubGerencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarJefatura">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/GuardarJefatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizaciones">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/HabilitarOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionById">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ActualizarOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionesGrupos">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizacionesByIdOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/ObtenerOrganizacionesByIdOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorPalabra">
      <soap:operation soapAction="http://tempuri.org/IServiceOrganizacion/BuscarPorPalabra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOrganizacion">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceOrganizacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>