KiiniHelp/Service References/ServiceDashboard/ServiceDashboards1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DashboardAdministrador">
    <xs:sequence>
      <xs:element name="_x003C_Articulos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Catalogos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Categorias_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Feriados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Formularios_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GraficoAlmacenamiento_x003E_k__BackingField" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_x003C_GraficoTicketsCreadosCanal_x003E_k__BackingField" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_x003C_GraficoUsuariosRegistrados_x003E_k__BackingField" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_x003C_Grupos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Horarios_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_OperadorRol_x003E_k__BackingField" nillable="true" type="tns:ArrayOfGraficoConteo" />
      <xs:element name="_x003C_Operadores_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Organizacion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Puestos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TicketsCreados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalArchivos_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Ubicacion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuariosActivos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuariosRegistrados_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardAdministrador" nillable="true" type="tns:DashboardAdministrador" />
  <xs:complexType name="ArrayOfGraficoConteo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraficoConteo" nillable="true" type="tns:GraficoConteo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraficoConteo" nillable="true" type="tns:ArrayOfGraficoConteo" />
  <xs:complexType name="GraficoConteo">
    <xs:sequence>
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Total_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraficoConteo" nillable="true" type="tns:GraficoConteo" />
  <xs:complexType name="DashboardAgente">
    <xs:sequence>
      <xs:element name="_x003C_ClientesAtendidos_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_DiferenciaPromedioRespuestaPorcentaje_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_IntervencionesAgente_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioPrimeraRespuestaActual_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioPrimeraRespuestaAnterior_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioPrimeraRespuestaSegundosActual_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioPrimeraRespuestaSegundosAnterior_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioResolucionPrimercontactoActual_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioResolucionPrimercontactoAnterior_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioResolucionPrimercontactoPorcentaje_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioResolucionPrimercontactoSegundosActual_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioResolucionPrimercontactoSegundosAnterior_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioTiempoResolucionActual_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioTiempoResolucionAnterior_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromedioTiempoResolucionPorcentaje_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioTiempoResolucionSegundosActual_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PromedioTiempoResolucionSegundosAnterior_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_TicketsAbiertos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TicketsCreados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TicketsResuletosVsCreados_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_TicketsResuletosVsReabiertos_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_TicketsResuletos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalTicketsReabiertos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalTickets_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardAgente" nillable="true" type="tns:DashboardAgente" />
</xs:schema>