KiiniHelp/Service References/ServiceDashboard/ServiceDashboards2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceDashboards.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" />
  <xs:element name="GetDashboardAdministrador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" minOccurs="0" name="GetDashboardAdministradorResult" nillable="true" type="q1:DashboardAdministrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" minOccurs="0" name="GetDashboardAgenteResult" nillable="true" type="q2:DashboardAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>