KiiniHelp/Service References/ServiceDashboard/ServiceDashboards1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Dashboard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DashboardAdministrador">
    <xs:sequence>
      <xs:element name="_x003C_Articulos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Catalogos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Categorias_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Feriados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Formularios_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GraficoTicketsCreadosCanal_x003E_k__BackingField" nillable="true" type="tns:ArrayOfGraficoConteo" />
      <xs:element name="_x003C_GraficoUsuariosRegistrados_x003E_k__BackingField" nillable="true" type="tns:ArrayOfGraficoConteo" />
      <xs:element name="_x003C_Grupos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Horarios_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_OperadorRol_x003E_k__BackingField" nillable="true" type="tns:ArrayOfGraficoConteo" />
      <xs:element name="_x003C_Operadores_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Organizacion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Puestos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TicketsCreados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ubicacion_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuariosActivos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UsuariosRegistrados_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardAdministrador" nillable="true" type="tns:DashboardAdministrador" />
  <xs:complexType name="ArrayOfGraficoConteo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraficoConteo" nillable="true" type="tns:GraficoConteo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraficoConteo" nillable="true" type="tns:ArrayOfGraficoConteo" />
  <xs:complexType name="GraficoConteo">
    <xs:sequence>
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Total_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraficoConteo" nillable="true" type="tns:GraficoConteo" />
</xs:schema>