KiiniHelp/Service References/ServiceUbicacion/KiiniNet.Entities.Operacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ArbolAcceso" nillable="true" type="q1:ArrayOfArbolAcceso" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area" />
  <xs:complexType name="ArrayOfHitConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HitConsulta" nillable="true" type="tns:HitConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHitConsulta" nillable="true" type="tns:ArrayOfHitConsulta" />
  <xs:complexType name="HitConsulta">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ArbolAcceso" nillable="true" type="q2:ArbolAcceso" />
      <xs:element minOccurs="0" name="HitGrupoUsuario" nillable="true" type="tns:ArrayOfHitGrupoUsuario" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdArbolAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrganizacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Organizacion" nillable="true" type="q3:Organizacion" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Ubicacion" nillable="true" type="q4:Ubicacion" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="Usuario" nillable="true" type="q5:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HitConsulta" nillable="true" type="tns:HitConsulta" />
  <xs:complexType name="ArrayOfHitGrupoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HitGrupoUsuario" nillable="true" type="tns:HitGrupoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHitGrupoUsuario" nillable="true" type="tns:ArrayOfHitGrupoUsuario" />
  <xs:complexType name="HitGrupoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="HitConsulta" nillable="true" type="tns:HitConsulta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGrupoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdHit" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubGrupoUsuario" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HitGrupoUsuario" nillable="true" type="tns:HitGrupoUsuario" />
  <xs:complexType name="ArrayOfRespuestaEncuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespuestaEncuesta" nillable="true" type="tns:RespuestaEncuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuestaEncuesta" nillable="true" type="tns:ArrayOfRespuestaEncuesta" />
  <xs:complexType name="RespuestaEncuesta">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="Encuesta" nillable="true" type="q6:Encuesta" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="EncuestaPregunta" nillable="true" type="q7:EncuestaPregunta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEncuesta" type="xs:int" />
      <xs:element minOccurs="0" name="IdPregunta" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Ponderacion" type="xs:decimal" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="Ticket" nillable="true" type="q8:Ticket" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="RespuestaEncuesta" nillable="true" type="tns:RespuestaEncuesta" />
  <xs:complexType name="ArrayOfInventarioInfConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventarioInfConsulta" nillable="true" type="tns:InventarioInfConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventarioInfConsulta" nillable="true" type="tns:ArrayOfInventarioInfConsulta" />
  <xs:complexType name="InventarioInfConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdInfConsulta" type="xs:int" />
      <xs:element minOccurs="0" name="IdInventario" type="xs:int" />
      <xs:element minOccurs="0" name="InformacionConsulta" nillable="true" type="tns:InformacionConsulta" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="InventarioArbolAcceso" nillable="true" type="q9:InventarioArbolAcceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventarioInfConsulta" nillable="true" type="tns:InventarioInfConsulta" />
  <xs:complexType name="InformacionConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoDocumento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoInfConsulta" type="xs:int" />
      <xs:element minOccurs="0" name="InformacionConsultaDatos" nillable="true" type="tns:ArrayOfInformacionConsultaDatos" />
      <xs:element minOccurs="0" name="InventarioInfConsulta" nillable="true" type="tns:ArrayOfInventarioInfConsulta" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoDocumento" nillable="true" type="q10:TipoDocumento" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoInfConsulta" nillable="true" type="q11:TipoInfConsulta" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="InformacionConsulta" nillable="true" type="tns:InformacionConsulta" />
  <xs:complexType name="ArrayOfInformacionConsultaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionConsultaDatos" nillable="true" type="tns:InformacionConsultaDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformacionConsultaDatos" nillable="true" type="tns:ArrayOfInformacionConsultaDatos" />
  <xs:complexType name="InformacionConsultaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdInformacionConsulta" type="xs:int" />
      <xs:element minOccurs="0" name="IdPadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InformacionConsulta" nillable="true" type="tns:InformacionConsulta" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="InformacionConsultaDatos" nillable="true" type="tns:InformacionConsultaDatos" />
  <xs:complexType name="ArrayOfInformacionConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionConsulta" nillable="true" type="tns:InformacionConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformacionConsulta" nillable="true" type="tns:ArrayOfInformacionConsulta" />
  <xs:complexType name="ArrayOfSlaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlaDetalle" nillable="true" type="tns:SlaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlaDetalle" nillable="true" type="tns:ArrayOfSlaDetalle" />
  <xs:complexType name="SlaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdSla" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRol" type="xs:int" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="Sla" nillable="true" type="q12:Sla" />
      <xs:element minOccurs="0" name="TiempoProceso" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SlaDetalle" nillable="true" type="tns:SlaDetalle" />
</xs:schema>