KiiniHelp/Service References/ServiceUbicacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUbicacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUbicacion_ObtenerPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPais" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampus" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerTorres_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorres" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerTorres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorresResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPisos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPisos" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPisosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonas" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSubZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubZonas" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSubZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSiteRacks_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiteRacks" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSiteRacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiteRacksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_GuardarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_GuardarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerOrganizaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizaciones" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerOrganizaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOrganizacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUbicacion">
    <wsdl:operation name="ObtenerPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPais" message="tns:IServiceUbicacion_ObtenerPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPaisResponse" message="tns:IServiceUbicacion_ObtenerPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerCampus" message="tns:IServiceUbicacion_ObtenerCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerCampusResponse" message="tns:IServiceUbicacion_ObtenerCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorres">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerTorres" message="tns:IServiceUbicacion_ObtenerTorres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerTorresResponse" message="tns:IServiceUbicacion_ObtenerTorres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPisos" message="tns:IServiceUbicacion_ObtenerPisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPisosResponse" message="tns:IServiceUbicacion_ObtenerPisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerZonas" message="tns:IServiceUbicacion_ObtenerZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerZonasResponse" message="tns:IServiceUbicacion_ObtenerZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSubZonas" message="tns:IServiceUbicacion_ObtenerSubZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSubZonasResponse" message="tns:IServiceUbicacion_ObtenerSubZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiteRacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacks" message="tns:IServiceUbicacion_ObtenerSiteRacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacksResponse" message="tns:IServiceUbicacion_ObtenerSiteRacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacion" message="tns:IServiceUbicacion_ObtenerUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionResponse" message="tns:IServiceUbicacion_ObtenerUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/GuardarUbicacion" message="tns:IServiceUbicacion_GuardarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/GuardarUbicacionResponse" message="tns:IServiceUbicacion_GuardarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuario" message="tns:IServiceUbicacion_ObtenerUbicacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuarioResponse" message="tns:IServiceUbicacion_ObtenerUbicacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerOrganizaciones" message="tns:IServiceUbicacion_ObtenerOrganizaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerOrganizacionesResponse" message="tns:IServiceUbicacion_ObtenerOrganizaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceUbicacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPais">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampus">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorres">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerTorres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPisos">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerPisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubZonas">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerSubZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiteRacks">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/GuardarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganizaciones">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerOrganizaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUbicacion">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceUbicacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>