KiiniHelp/Service References/ServiceUbicacion/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUbicacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUbicacion_ObtenerPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPais" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerCampus_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampus" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerCampus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerTorres_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorres" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerTorres_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTorresResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPisos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPisos" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerPisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPisosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonas" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSubZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubZonas" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSubZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSiteRacks_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiteRacks" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerSiteRacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiteRacksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_GuardarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_GuardarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicaciones" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_BuscarPorPalabra_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorPalabra" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_BuscarPorPalabra_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorPalabraResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ActualizarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ActualizarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionById" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_HabilitarUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_HabilitarUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionesGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionesGrupos" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionesGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionesGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionesByIdUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionesByIdUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionesByIdUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionesByIdUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionByRegionCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionByRegionCode" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionByRegionCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionByRegionCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionFiscal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionFiscal" />
  </wsdl:message>
  <wsdl:message name="IServiceUbicacion_ObtenerUbicacionFiscal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUbicacionFiscalResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUbicacion">
    <wsdl:operation name="ObtenerPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPais" message="tns:IServiceUbicacion_ObtenerPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPaisResponse" message="tns:IServiceUbicacion_ObtenerPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerCampus" message="tns:IServiceUbicacion_ObtenerCampus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerCampusResponse" message="tns:IServiceUbicacion_ObtenerCampus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorres">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerTorres" message="tns:IServiceUbicacion_ObtenerTorres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerTorresResponse" message="tns:IServiceUbicacion_ObtenerTorres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPisos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPisos" message="tns:IServiceUbicacion_ObtenerPisos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerPisosResponse" message="tns:IServiceUbicacion_ObtenerPisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerZonas" message="tns:IServiceUbicacion_ObtenerZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerZonasResponse" message="tns:IServiceUbicacion_ObtenerZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSubZonas" message="tns:IServiceUbicacion_ObtenerSubZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSubZonasResponse" message="tns:IServiceUbicacion_ObtenerSubZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiteRacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacks" message="tns:IServiceUbicacion_ObtenerSiteRacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacksResponse" message="tns:IServiceUbicacion_ObtenerSiteRacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacion" message="tns:IServiceUbicacion_ObtenerUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionResponse" message="tns:IServiceUbicacion_ObtenerUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/GuardarUbicacion" message="tns:IServiceUbicacion_GuardarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/GuardarUbicacionResponse" message="tns:IServiceUbicacion_GuardarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuario" message="tns:IServiceUbicacion_ObtenerUbicacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuarioResponse" message="tns:IServiceUbicacion_ObtenerUbicacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicaciones" message="tns:IServiceUbicacion_ObtenerUbicaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesResponse" message="tns:IServiceUbicacion_ObtenerUbicaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorPalabra">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/BuscarPorPalabra" message="tns:IServiceUbicacion_BuscarPorPalabra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/BuscarPorPalabraResponse" message="tns:IServiceUbicacion_BuscarPorPalabra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ActualizarUbicacion" message="tns:IServiceUbicacion_ActualizarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ActualizarUbicacionResponse" message="tns:IServiceUbicacion_ActualizarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionById" message="tns:IServiceUbicacion_ObtenerUbicacionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionByIdResponse" message="tns:IServiceUbicacion_ObtenerUbicacionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/HabilitarUbicacion" message="tns:IServiceUbicacion_HabilitarUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/HabilitarUbicacionResponse" message="tns:IServiceUbicacion_HabilitarUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionesGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesGrupos" message="tns:IServiceUbicacion_ObtenerUbicacionesGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesGruposResponse" message="tns:IServiceUbicacion_ObtenerUbicacionesGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionesByIdUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesByIdUbicacion" message="tns:IServiceUbicacion_ObtenerUbicacionesByIdUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesByIdUbicacionResponse" message="tns:IServiceUbicacion_ObtenerUbicacionesByIdUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionByRegionCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionByRegionCode" message="tns:IServiceUbicacion_ObtenerUbicacionByRegionCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionByRegionCodeResponse" message="tns:IServiceUbicacion_ObtenerUbicacionByRegionCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionFiscal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionFiscal" message="tns:IServiceUbicacion_ObtenerUbicacionFiscal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionFiscalResponse" message="tns:IServiceUbicacion_ObtenerUbicacionFiscal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceUbicacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPais">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampus">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerCampus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTorres">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerTorres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPisos">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerPisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubZonas">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerSubZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiteRacks">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerSiteRacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/GuardarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicaciones">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorPalabra">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/BuscarPorPalabra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ActualizarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionById">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/HabilitarUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionesGrupos">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionesByIdUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionesByIdUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionByRegionCode">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionByRegionCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUbicacionFiscal">
      <soap:operation soapAction="http://tempuri.org/IServiceUbicacion/ObtenerUbicacionFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUbicacion">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceUbicacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>