KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceFrecuencia/ServiceFrecuencia1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperFrecuencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperFrecuencia" nillable="true" type="tns:HelperFrecuencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperFrecuencia" nillable="true" type="tns:ArrayOfHelperFrecuencia" />
  <xs:complexType name="HelperFrecuencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionOpcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOpcionLarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdArbol" type="xs:int" />
      <xs:element minOccurs="0" name="IdFrecuencia" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoArbol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperFrecuencia" nillable="true" type="tns:HelperFrecuencia" />
</xs:schema>