KiiniHelp/Service References/ServiceSeguridad/ServiceSecurity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSecurity" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSecurity.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSecurity_Autenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticate" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_Autenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerRolesUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerRolesUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_GetUserDataAutenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataAutenticate" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_GetUserDataAutenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataAutenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_GetUserInvitadoDataAutenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInvitadoDataAutenticate" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_GetUserInvitadoDataAutenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInvitadoDataAutenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerMenuUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerMenuUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerMenuPublico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuPublico" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ObtenerMenuPublico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuPublicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_RecuperarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarCuenta" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_RecuperarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ValidaPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_ValidaPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_CaducaPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CaducaPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceSecurity_CaducaPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaducaPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSecurity">
    <wsdl:operation name="Autenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/Autenticate" message="tns:IServiceSecurity_Autenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/AutenticateResponse" message="tns:IServiceSecurity_Autenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolesUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerRolesUsuario" message="tns:IServiceSecurity_ObtenerRolesUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerRolesUsuarioResponse" message="tns:IServiceSecurity_ObtenerRolesUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataAutenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/GetUserDataAutenticate" message="tns:IServiceSecurity_GetUserDataAutenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/GetUserDataAutenticateResponse" message="tns:IServiceSecurity_GetUserDataAutenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInvitadoDataAutenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/GetUserInvitadoDataAutenticate" message="tns:IServiceSecurity_GetUserInvitadoDataAutenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/GetUserInvitadoDataAutenticateResponse" message="tns:IServiceSecurity_GetUserInvitadoDataAutenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/ChangePassword" message="tns:IServiceSecurity_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/ChangePasswordResponse" message="tns:IServiceSecurity_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerMenuUsuario" message="tns:IServiceSecurity_ObtenerMenuUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerMenuUsuarioResponse" message="tns:IServiceSecurity_ObtenerMenuUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuPublico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerMenuPublico" message="tns:IServiceSecurity_ObtenerMenuPublico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/ObtenerMenuPublicoResponse" message="tns:IServiceSecurity_ObtenerMenuPublico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/RecuperarCuenta" message="tns:IServiceSecurity_RecuperarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/RecuperarCuentaResponse" message="tns:IServiceSecurity_RecuperarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/ValidaPassword" message="tns:IServiceSecurity_ValidaPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/ValidaPasswordResponse" message="tns:IServiceSecurity_ValidaPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaducaPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSecurity/CaducaPassword" message="tns:IServiceSecurity_CaducaPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSecurity/CaducaPasswordResponse" message="tns:IServiceSecurity_CaducaPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSecurity" type="tns:IServiceSecurity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticate">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/Autenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolesUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/ObtenerRolesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataAutenticate">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/GetUserDataAutenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInvitadoDataAutenticate">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/GetUserInvitadoDataAutenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/ObtenerMenuUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuPublico">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/ObtenerMenuPublico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarCuenta">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/RecuperarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/ValidaPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaducaPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceSecurity/CaducaPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSecurity">
    <wsdl:port name="BasicHttpBinding_IServiceSecurity" binding="tns:BasicHttpBinding_IServiceSecurity">
      <soap:address location="http://localhost:15277/ServiceSecurity.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>