KiiniHelp/Service References/ServiceSistemaTipoGrupo/ServiceTipoGrupo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTipoGrupo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGruposByRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGruposByRol" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGruposByRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGruposByRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGruposByTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGruposByTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoGrupo_ObtenerTiposGruposByTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposGruposByTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTipoGrupo">
    <wsdl:operation name="ObtenerTiposGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGrupo" message="tns:IServiceTipoGrupo_ObtenerTiposGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGrupoResponse" message="tns:IServiceTipoGrupo_ObtenerTiposGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposGruposByRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByRol" message="tns:IServiceTipoGrupo_ObtenerTiposGruposByRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByRolResponse" message="tns:IServiceTipoGrupo_ObtenerTiposGruposByRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposGruposByTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByTipoUsuario" message="tns:IServiceTipoGrupo_ObtenerTiposGruposByTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByTipoUsuarioResponse" message="tns:IServiceTipoGrupo_ObtenerTiposGruposByTipoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceTipoGrupo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTiposGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposGruposByRol">
      <soap:operation soapAction="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposGruposByTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceTipoGrupo/ObtenerTiposGruposByTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTipoGrupo">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceTipoGrupo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>