KiiniHelp/Service References/ServiceSistemaTipoGrupo/ServiceTipoGrupo9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoGrupo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:element name="ObtenerTiposGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposGrupoResult" nillable="true" type="q1:ArrayOfTipoGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposGruposByRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrol" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposGruposByRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposGruposByRolResult" nillable="true" type="q2:ArrayOfTipoGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposGruposByTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposGruposByTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTiposGruposByTipoUsuarioResult" nillable="true" type="q3:ArrayOfTipoGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>