KiiniHelp/Service References/ServiceImpactourgencia/ServiceImpactoUrgencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceImpactoUrgencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerPrioridad_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrioridad" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerPrioridad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPrioridadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerUrgencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUrgencia" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerUrgencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUrgenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerImpactoById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpactoById" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerImpactoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpactoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerImpactoByPrioridadUrgencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpactoByPrioridadUrgencia" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerImpactoByPrioridadUrgencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpactoByPrioridadUrgenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAll" />
  </wsdl:message>
  <wsdl:message name="IServiceImpactoUrgencia_ObtenerAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceImpactoUrgencia">
    <wsdl:operation name="ObtenerPrioridad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerPrioridad" message="tns:IServiceImpactoUrgencia_ObtenerPrioridad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerPrioridadResponse" message="tns:IServiceImpactoUrgencia_ObtenerPrioridad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUrgencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerUrgencia" message="tns:IServiceImpactoUrgencia_ObtenerUrgencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerUrgenciaResponse" message="tns:IServiceImpactoUrgencia_ObtenerUrgencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpactoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoById" message="tns:IServiceImpactoUrgencia_ObtenerImpactoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoByIdResponse" message="tns:IServiceImpactoUrgencia_ObtenerImpactoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpactoByPrioridadUrgencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoByPrioridadUrgencia" message="tns:IServiceImpactoUrgencia_ObtenerImpactoByPrioridadUrgencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoByPrioridadUrgenciaResponse" message="tns:IServiceImpactoUrgencia_ObtenerImpactoByPrioridadUrgencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerAll" message="tns:IServiceImpactoUrgencia_ObtenerAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceImpactoUrgencia/ObtenerAllResponse" message="tns:IServiceImpactoUrgencia_ObtenerAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceImpactoUrgencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPrioridad">
      <soap:operation soapAction="http://tempuri.org/IServiceImpactoUrgencia/ObtenerPrioridad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUrgencia">
      <soap:operation soapAction="http://tempuri.org/IServiceImpactoUrgencia/ObtenerUrgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpactoById">
      <soap:operation soapAction="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpactoByPrioridadUrgencia">
      <soap:operation soapAction="http://tempuri.org/IServiceImpactoUrgencia/ObtenerImpactoByPrioridadUrgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAll">
      <soap:operation soapAction="http://tempuri.org/IServiceImpactoUrgencia/ObtenerAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImpactoUrgencia">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>