KiiniMaster/Service References/ServiceSistemaSubRol/ServiceSubRol4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
  <xs:element name="ObtenerSubRolesByTipoGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolesByTipoGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerSubRolesByTipoGrupoResult" nillable="true" type="q1:ArrayOfSubRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerSubRolByIdResult" nillable="true" type="q2:SubRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolesByGrupoUsuarioRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolesByGrupoUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerSubRolesByGrupoUsuarioRolResult" nillable="true" type="q3:ArrayOfSubRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoSubRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoSubRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerTipoSubRolResult" nillable="true" type="q4:ArrayOfSubRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEscalacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubRol" type="xs:int" />
        <xs:element minOccurs="0" name="idEstatusAsignacion" type="xs:int" />
        <xs:element minOccurs="0" name="nivelActual" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEscalacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="ObtenerEscalacionResult" nillable="true" type="q5:ArrayOfSubRolEscalacionPermitida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolEscalacionPermitida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSubRolEscalacionPermitidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="ObtenerSubRolEscalacionPermitidaResult" nillable="true" type="q6:ArrayOfSubRolEscalacionPermitida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitarPoliticaEscalacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEscalacion" type="xs:int" />
        <xs:element minOccurs="0" name="habilitado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitarPoliticaEscalacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>