KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceImpactourgencia/ServiceImpactoUrgencia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceImpactoUrgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:element name="ObtenerPrioridad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrioridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerPrioridadResult" nillable="true" type="q1:ArrayOfPrioridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUrgencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUrgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerUrgenciaResult" nillable="true" type="q2:ArrayOfUrgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImpactoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idImpacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImpactoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerImpactoByIdResult" nillable="true" type="q3:Impacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImpactoByPrioridadUrgencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrioridad" type="xs:int" />
        <xs:element minOccurs="0" name="idUrgencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImpactoByPrioridadUrgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerImpactoByPrioridadUrgenciaResult" nillable="true" type="q4:Impacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="ObtenerAllResult" nillable="true" type="q5:ArrayOfImpacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>