KiiniHelp/Service References/ServiceInformacionConsulta/ServiceInformacionConsulta16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperInformacionConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperInformacionConsulta" nillable="true" type="tns:HelperInformacionConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperInformacionConsulta" nillable="true" type="tns:ArrayOfHelperInformacionConsulta" />
  <xs:complexType name="HelperInformacionConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MeGusta" type="xs:int" />
      <xs:element minOccurs="0" name="NoMeGusta" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltEdicion" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperInformacionConsulta" nillable="true" type="tns:HelperInformacionConsulta" />
</xs:schema>