KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceInformacionConsulta/ServiceInformacionConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceInformacionConsulta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KinniNet.Business.Utils" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Reportes" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceInformacionConsulta.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsultaArbol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsultaArbol" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsultaArbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsultaArbolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsultaById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsultaById" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionConsultaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionConsultaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_GuardarInformacionConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_GuardarInformacionConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ActualizarInformacionConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacionConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ActualizarInformacionConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInformacionConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_GuardarHit_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHit" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_GuardarHit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarHitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionReporte" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerInformacionReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_RateConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:RateConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_RateConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_HabilitarInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarInformacion" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_HabilitarInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerReporteInformacionConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteInformacionConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceInformacionConsulta_ObtenerReporteInformacionConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReporteInformacionConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceInformacionConsulta">
    <wsdl:operation name="ObtenerInformacionConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsulta" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaResponse" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionConsultaArbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaArbol" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsultaArbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaArbolResponse" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsultaArbol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionConsultaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaById" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsultaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaByIdResponse" message="tns:IServiceInformacionConsulta_ObtenerInformacionConsultaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/GuardarInformacionConsulta" message="tns:IServiceInformacionConsulta_GuardarInformacionConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/GuardarInformacionConsultaResponse" message="tns:IServiceInformacionConsulta_GuardarInformacionConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacionConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ActualizarInformacionConsulta" message="tns:IServiceInformacionConsulta_ActualizarInformacionConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ActualizarInformacionConsultaResponse" message="tns:IServiceInformacionConsulta_ActualizarInformacionConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarHit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/GuardarHit" message="tns:IServiceInformacionConsulta_GuardarHit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/GuardarHitResponse" message="tns:IServiceInformacionConsulta_GuardarHit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerConsulta" message="tns:IServiceInformacionConsulta_ObtenerConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerConsultaResponse" message="tns:IServiceInformacionConsulta_ObtenerConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionReporte" message="tns:IServiceInformacionConsulta_ObtenerInformacionReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionReporteResponse" message="tns:IServiceInformacionConsulta_ObtenerInformacionReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/RateConsulta" message="tns:IServiceInformacionConsulta_RateConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/RateConsultaResponse" message="tns:IServiceInformacionConsulta_RateConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/HabilitarInformacion" message="tns:IServiceInformacionConsulta_HabilitarInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/HabilitarInformacionResponse" message="tns:IServiceInformacionConsulta_HabilitarInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteInformacionConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerReporteInformacionConsulta" message="tns:IServiceInformacionConsulta_ObtenerReporteInformacionConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceInformacionConsulta/ObtenerReporteInformacionConsultaResponse" message="tns:IServiceInformacionConsulta_ObtenerReporteInformacionConsulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceInformacionConsulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInformacionConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionConsultaArbol">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionConsultaById">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionConsultaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/GuardarInformacionConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInformacionConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ActualizarInformacionConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarHit">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/GuardarHit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionReporte">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerInformacionReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/RateConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarInformacion">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/HabilitarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReporteInformacionConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceInformacionConsulta/ObtenerReporteInformacionConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceInformacionConsulta">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceInformacionConsulta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>