KiiniHelp/Service References/ServiceNota/ServiceNota14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperNotasUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperNotasUsuario" nillable="true" type="tns:HelperNotasUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperNotasUsuario" nillable="true" type="tns:ArrayOfHelperNotasUsuario" />
  <xs:complexType name="HelperNotasUsuario">
    <xs:sequence>
      <xs:element name="_x003C_Contenido_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Habilitado_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IdTipoNota_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TipoNota_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperNotasUsuario" nillable="true" type="tns:HelperNotasUsuario" />
  <xs:complexType name="ArrayOfHelperNotasOpcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperNotasOpcion" nillable="true" type="tns:HelperNotasOpcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperNotasOpcion" nillable="true" type="tns:ArrayOfHelperNotasOpcion" />
  <xs:complexType name="HelperNotasOpcion">
    <xs:sequence>
      <xs:element name="_x003C_Contenido_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Habilitado_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IdArbol_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdTipoNota_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TipoNota_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperNotasOpcion" nillable="true" type="tns:HelperNotasOpcion" />
</xs:schema>