KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceConsultas/ServiceConsultas8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/ServiceConsultas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Administrador" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autoregistro" type="xs:boolean" />
      <xs:element minOccurs="0" name="BitacoraAcceso" nillable="true" type="tns:ArrayOfBitacoraAcceso" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="CorreoService" nillable="true" type="q1:ArrayOfCorreoService" />
      <xs:element minOccurs="0" name="CorreoUsuario" nillable="true" type="tns:ArrayOfCorreoUsuario" />
      <xs:element minOccurs="0" name="DirectorioActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaAlta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaBloqueo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimoAccesoExito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="GraficosFavoritos" nillable="true" type="q2:ArrayOfGraficosFavoritos" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="HitConsulta" nillable="true" type="q3:ArrayOfHitConsulta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrganizacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPuesto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="InformacionConsultaAlta" nillable="true" type="q4:ArrayOfInformacionConsulta" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="InformacionConsultaDocumentosAlta" nillable="true" type="q5:ArrayOfInformacionConsultaDocumentos" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="InformacionConsultaDocumentosModifico" nillable="true" type="q6:ArrayOfInformacionConsultaDocumentos" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="InformacionConsultaModifico" nillable="true" type="q7:ArrayOfInformacionConsulta" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="InformacionConsultaRate" nillable="true" type="q8:ArrayOfInformacionConsultaRate" />
      <xs:element minOccurs="0" name="LevantaRecado" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevantaTickets" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="MascaraAlta" nillable="true" type="q9:ArrayOfMascara" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="MascaraModifico" nillable="true" type="q10:ArrayOfMascara" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="NotaGeneral" nillable="true" type="q11:ArrayOfNotaGeneral" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="NotaOpcionGrupo" nillable="true" type="q12:ArrayOfNotaOpcionGrupo" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="NotaOpcionUsuario" nillable="true" type="q13:ArrayOfNotaOpcionUsuario" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Organizacion" nillable="true" type="q14:Organizacion" />
      <xs:element minOccurs="0" name="OrganizacionCompleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizacionFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaFisica" type="xs:boolean" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="PreTicketLevantado" nillable="true" type="q15:ArrayOfPreTicket" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="PreTicketSolicitado" nillable="true" type="q16:ArrayOfPreTicket" />
      <xs:element minOccurs="0" name="PreguntaReto" nillable="true" type="tns:ArrayOfPreguntaReto" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="Puesto" nillable="true" type="q17:Puesto" />
      <xs:element minOccurs="0" name="Sistema" type="xs:boolean" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="SmsService" nillable="true" type="q18:ArrayOfSmsService" />
      <xs:element minOccurs="0" name="Supervisor" type="xs:boolean" />
      <xs:element minOccurs="0" name="TelefonoUsuario" nillable="true" type="tns:ArrayOfTelefonoUsuario" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketAsignado" nillable="true" type="q19:ArrayOfTicketAsignacion" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketAsigno" nillable="true" type="q20:ArrayOfTicketAsignacion" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketConversacion" nillable="true" type="q21:ArrayOfTicketConversacion" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketEstatus" nillable="true" type="q22:ArrayOfTicketEstatus" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketEvento" nillable="true" type="q23:ArrayOfTicketEvento" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketNotificacion" nillable="true" type="q24:ArrayOfTicketNotificacion" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketsLevantados" nillable="true" type="q25:ArrayOfTicket" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketsResueltos" nillable="true" type="q26:ArrayOfTicket" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketsSolicitados" nillable="true" type="q27:ArrayOfTicket" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q28:TipoUsuario" />
      <xs:element minOccurs="0" name="Tries" type="xs:int" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Ubicacion" nillable="true" type="q29:Ubicacion" />
      <xs:element minOccurs="0" name="UbicacionCompleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbicacionFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioGrupo" nillable="true" type="tns:ArrayOfUsuarioGrupo" />
      <xs:element minOccurs="0" name="UsuarioLinkPassword" nillable="true" type="tns:ArrayOfUsuarioLinkPassword" />
      <xs:element minOccurs="0" name="UsuarioNotificacion" nillable="true" type="tns:ArrayOfUsuarioNotificacion" />
      <xs:element minOccurs="0" name="UsuarioPassword" nillable="true" type="tns:ArrayOfUsuarioPassword" />
      <xs:element minOccurs="0" name="UsuarioRol" nillable="true" type="tns:ArrayOfUsuarioRol" />
      <xs:element minOccurs="0" name="Vip" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfBitacoraAcceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BitacoraAcceso" nillable="true" type="tns:BitacoraAcceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBitacoraAcceso" nillable="true" type="tns:ArrayOfBitacoraAcceso" />
  <xs:complexType name="BitacoraAcceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BitacoraAcceso" nillable="true" type="tns:BitacoraAcceso" />
  <xs:complexType name="ArrayOfUsuarioNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioNotificacion" nillable="true" type="tns:UsuarioNotificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioNotificacion" nillable="true" type="tns:ArrayOfUsuarioNotificacion" />
  <xs:complexType name="UsuarioNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicketEvento" type="xs:long" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Notificaciones" type="xs:int" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" minOccurs="0" name="TicketEvento" nillable="true" type="q30:TicketEvento" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UsuarioNotificacion" nillable="true" type="tns:UsuarioNotificacion" />
  <xs:complexType name="ArrayOfCorreoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CorreoUsuario" nillable="true" type="tns:CorreoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorreoUsuario" nillable="true" type="tns:ArrayOfCorreoUsuario" />
  <xs:complexType name="CorreoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Obligatorio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CorreoUsuario" nillable="true" type="tns:CorreoUsuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfPreguntaReto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreguntaReto" nillable="true" type="tns:PreguntaReto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreguntaReto" nillable="true" type="tns:ArrayOfPreguntaReto" />
  <xs:complexType name="PreguntaReto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Pregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreguntaReto" nillable="true" type="tns:PreguntaReto" />
  <xs:complexType name="ArrayOfUsuarioLinkPassword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioLinkPassword" nillable="true" type="tns:UsuarioLinkPassword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioLinkPassword" nillable="true" type="tns:ArrayOfUsuarioLinkPassword" />
  <xs:complexType name="UsuarioLinkPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoLink" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Link" type="ser:guid" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoLink" nillable="true" type="q31:TipoLink" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UsuarioLinkPassword" nillable="true" type="tns:UsuarioLinkPassword" />
  <xs:complexType name="ArrayOfTelefonoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelefonoUsuario" nillable="true" type="tns:TelefonoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelefonoUsuario" nillable="true" type="tns:ArrayOfTelefonoUsuario" />
  <xs:complexType name="TelefonoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confirmado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTelefono" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obligatorio" type="xs:boolean" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoTelefono" nillable="true" type="q32:TipoTelefono" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TelefonoUsuario" nillable="true" type="tns:TelefonoUsuario" />
  <xs:complexType name="ArrayOfUsuarioGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioGrupo" nillable="true" type="tns:UsuarioGrupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioGrupo" nillable="true" type="tns:ArrayOfUsuarioGrupo" />
  <xs:complexType name="UsuarioGrupo">
    <xs:sequence>
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="GrupoUsuario" nillable="true" type="q33:GrupoUsuario" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGrupoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubGrupoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Rol" nillable="true" type="q34:Rol" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="SubGrupoUsuario" nillable="true" type="q35:SubGrupoUsuario" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UsuarioGrupo" nillable="true" type="tns:UsuarioGrupo" />
  <xs:complexType name="ArrayOfUsuarioPassword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioPassword" nillable="true" type="tns:UsuarioPassword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioPassword" nillable="true" type="tns:ArrayOfUsuarioPassword" />
  <xs:complexType name="UsuarioPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UsuarioPassword" nillable="true" type="tns:UsuarioPassword" />
  <xs:complexType name="ArrayOfUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioRol" nillable="true" type="tns:UsuarioRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioRol" nillable="true" type="tns:ArrayOfUsuarioRol" />
  <xs:complexType name="UsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="RolTipoUsuario" nillable="true" type="q36:RolTipoUsuario" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="UsuarioRol" nillable="true" type="tns:UsuarioRol" />
</xs:schema>