KiiniHelp/Service References/ServiceSistemaTipoDocumento/ServiceTipoDocumento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTipoDocumento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceTipoDocumento.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTipoDocumento_ObtenerTipoDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoDocumentos" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoDocumento_ObtenerTipoDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoDocumento_ObtenerTiposDocumentoId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumentoId" />
  </wsdl:message>
  <wsdl:message name="IServiceTipoDocumento_ObtenerTiposDocumentoId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumentoIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTipoDocumento">
    <wsdl:operation name="ObtenerTipoDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTipoDocumento/ObtenerTipoDocumentos" message="tns:IServiceTipoDocumento_ObtenerTipoDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTipoDocumento/ObtenerTipoDocumentosResponse" message="tns:IServiceTipoDocumento_ObtenerTipoDocumentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumentoId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTipoDocumento/ObtenerTiposDocumentoId" message="tns:IServiceTipoDocumento_ObtenerTiposDocumentoId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTipoDocumento/ObtenerTiposDocumentoIdResponse" message="tns:IServiceTipoDocumento_ObtenerTiposDocumentoId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceTipoDocumento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTipoDocumentos">
      <soap:operation soapAction="http://tempuri.org/IServiceTipoDocumento/ObtenerTipoDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumentoId">
      <soap:operation soapAction="http://tempuri.org/IServiceTipoDocumento/ObtenerTiposDocumentoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTipoDocumento">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceTipoDocumento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>