KiiniHelp/Service References/ServiceArea/ServiceArea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceArea" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceArea.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioByRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioByRol" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioByRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioByRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioTercero_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioTercero" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioTercero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioTerceroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioPublico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioPublico" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasUsuarioPublico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasUsuarioPublicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreasTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreas" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreaById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreaById" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Habilitar_InputMessage">
    <wsdl:part name="parameters" element="tns:Habilitar" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_Habilitar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreaConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreaConsulta" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_ObtenerAreaConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreaConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceArea">
    <wsdl:operation name="ObtenerAreasUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuario" message="tns:IServiceArea_ObtenerAreasUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioResponse" message="tns:IServiceArea_ObtenerAreasUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioByRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioByRol" message="tns:IServiceArea_ObtenerAreasUsuarioByRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioByRolResponse" message="tns:IServiceArea_ObtenerAreasUsuarioByRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioTercero">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioTercero" message="tns:IServiceArea_ObtenerAreasUsuarioTercero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioTerceroResponse" message="tns:IServiceArea_ObtenerAreasUsuarioTercero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioPublico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioPublico" message="tns:IServiceArea_ObtenerAreasUsuarioPublico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioPublicoResponse" message="tns:IServiceArea_ObtenerAreasUsuarioPublico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasTipoUsuario" message="tns:IServiceArea_ObtenerAreasTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasTipoUsuarioResponse" message="tns:IServiceArea_ObtenerAreasTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreas" message="tns:IServiceArea_ObtenerAreas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreasResponse" message="tns:IServiceArea_ObtenerAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/Guardar" message="tns:IServiceArea_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/GuardarResponse" message="tns:IServiceArea_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreaById" message="tns:IServiceArea_ObtenerAreaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreaByIdResponse" message="tns:IServiceArea_ObtenerAreaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/Actualizar" message="tns:IServiceArea_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ActualizarResponse" message="tns:IServiceArea_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/Habilitar" message="tns:IServiceArea_Habilitar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/HabilitarResponse" message="tns:IServiceArea_Habilitar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreaConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreaConsulta" message="tns:IServiceArea_ObtenerAreaConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/ObtenerAreaConsultaResponse" message="tns:IServiceArea_ObtenerAreaConsulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceArea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAreasUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreasUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioByRol">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioTercero">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioTercero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasUsuarioPublico">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreasUsuarioPublico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreasTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreas">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreaById">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Habilitar">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/Habilitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreaConsulta">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/ObtenerAreaConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArea">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceArea.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>