KiiniHelp/Service References/ServiceArbolAcceso/ServiceArbolAcceso3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceArbolAcceso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" />
  <xs:import schemaLocation="http://localhost:15277/ServiceArbolAcceso.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
  <xs:import schemaLocation="http://localhost:15277/ServiceArbolAcceso.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
  <xs:import schemaLocation="http://localhost:15277/ServiceArbolAcceso.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ObtenerOpcionesPermitidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOpcionesPermitidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerOpcionesPermitidasResult" nillable="true" type="q1:ArrayOfHelperArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevantaTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevantaTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevantaTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecadoTicketTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecadoTicketTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecadoTicketTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel1ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel1ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel1ByGruposResult" nillable="true" type="q2:ArrayOfNivel1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel2ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel1" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel2ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel2ByGruposResult" nillable="true" type="q3:ArrayOfNivel2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel3ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel2" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel3ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel3ByGruposResult" nillable="true" type="q4:ArrayOfNivel3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel4ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel3" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel4ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel4ByGruposResult" nillable="true" type="q5:ArrayOfNivel4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel5ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel4" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel5ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel5ByGruposResult" nillable="true" type="q6:ArrayOfNivel5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel6ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel5" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel6ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel6ByGruposResult" nillable="true" type="q7:ArrayOfNivel6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel7ByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuarioSolicita" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioLevanta" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbolAcceso" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel6" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel7ByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel7ByGruposResult" nillable="true" type="q8:ArrayOfNivel7" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsNodoTerminalByGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsNodoTerminalByGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsNodoTerminalByGruposResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel1Result" nillable="true" type="q9:ArrayOfNivel1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel1" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel2Result" nillable="true" type="q10:ArrayOfNivel2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel2" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel3Result" nillable="true" type="q11:ArrayOfNivel3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel3" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel4Result" nillable="true" type="q12:ArrayOfNivel4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel5">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel4" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel5Result" nillable="true" type="q13:ArrayOfNivel5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel5" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel6Result" nillable="true" type="q14:ArrayOfNivel6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel7">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idNivel6" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivel7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" minOccurs="0" name="ObtenerNivel7Result" nillable="true" type="q15:ArrayOfNivel7" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsNodoTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsNodoTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsNodoTerminalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarArbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="arbol" nillable="true" type="q16:ArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarArbolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoByGruposUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" type="xs:int" />
        <xs:element minOccurs="0" name="idArea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoByGruposUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ObtenerArbolesAccesoByGruposUsuarioResult" nillable="true" type="q17:ArrayOfArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArbol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ObtenerArbolAccesoResult" nillable="true" type="q18:ArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ObtenerArbolesAccesoAllResult" nillable="true" type="q19:ArrayOfArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoAllReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoEncuesta" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fechas" nillable="true" type="q20:ArrayOfKeyValueOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoAllReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ObtenerArbolesAccesoAllReporteResult" nillable="true" type="q21:ArrayOfArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitarArbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArbol" type="xs:int" />
        <xs:element minOccurs="0" name="habilitado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitarArbolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizardArbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArbolAcceso" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="arbolAcceso" nillable="true" type="q22:ArbolAcceso" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizardArbolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ObtenerArbolesAccesoTerminalAllResult" nillable="true" type="q23:ArrayOfArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalAllTipificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoArbol" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel1" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel2" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel3" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel4" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel5" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel6" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nivel7" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalAllTipificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerArbolesAccesoTerminalAllTipificacionResult" nillable="true" type="q24:ArrayOfHelperArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalByIdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalByIdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerArbolesAccesoTerminalByIdUsuarioResult" nillable="true" type="q25:ArrayOfHelperArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalByGrupoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArbolesAccesoTerminalByGrupoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="ObtenerArbolesAccesoTerminalByGrupoUsuarioResult" nillable="true" type="q26:ArrayOfHelperArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tipoUsuario" nillable="true" type="q27:ArrayOfint" />
        <xs:element minOccurs="0" name="idTipoArbol" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idCategoria" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" minOccurs="0" name="BusquedaGeneralResult" nillable="true" type="q28:ArrayOfHelperBusquedaArbolAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>