KiiniHelp/Service References/ServiceSla/ServiceSla.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSla" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceSla.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSla_ObtenerSla_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSla" />
  </wsdl:message>
  <wsdl:message name="IServiceSla_ObtenerSla_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSlaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSla_ObtenerSlaById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSlaById" />
  </wsdl:message>
  <wsdl:message name="IServiceSla_ObtenerSlaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSlaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSla_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IServiceSla_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSla">
    <wsdl:operation name="ObtenerSla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSla/ObtenerSla" message="tns:IServiceSla_ObtenerSla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSla/ObtenerSlaResponse" message="tns:IServiceSla_ObtenerSla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSlaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSla/ObtenerSlaById" message="tns:IServiceSla_ObtenerSlaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSla/ObtenerSlaByIdResponse" message="tns:IServiceSla_ObtenerSlaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSla/Guardar" message="tns:IServiceSla_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSla/GuardarResponse" message="tns:IServiceSla_Guardar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceSla">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerSla">
      <soap:operation soapAction="http://tempuri.org/IServiceSla/ObtenerSla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSlaById">
      <soap:operation soapAction="http://tempuri.org/IServiceSla/ObtenerSlaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IServiceSla/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSla">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceSla.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>