KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceEncuesta/ServiceEncuesta14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHelperEncuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperEncuesta" nillable="true" type="tns:HelperEncuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperEncuesta" nillable="true" type="tns:ArrayOfHelperEncuesta" />
  <xs:complexType name="HelperEncuesta">
    <xs:sequence>
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IdEncuesta_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IdTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NumeroTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Respondida_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperEncuesta" nillable="true" type="tns:HelperEncuesta" />
</xs:schema>