KiiniHelp/Service References/ServiceParametrosSistema/ServiceParametros5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
  <xs:element name="TelefonosObligatorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonosObligatoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="TelefonosObligatoriosResult" nillable="true" type="q1:ArrayOfParametrosTelefonos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTelefonosParametrosIdTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTelefonosParametrosIdTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="ObtenerTelefonosParametrosIdTipoUsuarioResult" nillable="true" type="q2:ArrayOfTelefonoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCorreosParametrosIdTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="insertarSeleccion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCorreosParametrosIdTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="ObtenerCorreosParametrosIdTipoUsuarioResult" nillable="true" type="q3:ArrayOfCorreoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosGenerales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="ObtenerParametrosGeneralesResult" nillable="true" type="q4:ParametrosGenerales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAliasOrganizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAliasOrganizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="ObtenerAliasOrganizacionResult" nillable="true" type="q5:ArrayOfAliasOrganizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAliasUbicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAliasUbicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" minOccurs="0" name="ObtenerAliasUbicacionResult" nillable="true" type="q6:ArrayOfAliasUbicacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>