KiiniHelp/Service References/ServiceParametrosSistema/ServiceParametros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceParametros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosParametrosIdTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosParametrosIdTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorreosParametrosIdTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorreosParametrosIdTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosGenerales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosGenerales" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosGenerales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosGeneralesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerAliasOrganizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAliasOrganizacion" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerAliasOrganizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAliasOrganizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerAliasUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAliasUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerAliasUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAliasUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerDatosAdicionales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAdicionales" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerDatosAdicionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAdicionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParemtrosPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParemtrosPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParemtrosPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParemtrosPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosGraficoDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosGraficoDefault" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerParametrosGraficoDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosGraficoDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerFrecuenciasFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFrecuenciasFecha" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerFrecuenciasFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFrecuenciasFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerColoresTop_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoresTop" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerColoresTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoresTopResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerColoresSla_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoresSla" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerColoresSla_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerColoresSlaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerArchivosPermitidos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerArchivosPermitidos" />
  </wsdl:message>
  <wsdl:message name="IServiceParametros_ObtenerArchivosPermitidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerArchivosPermitidosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceParametros">
    <wsdl:operation name="ObtenerTelefonosParametrosIdTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuario" message="tns:IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuarioResponse" message="tns:IServiceParametros_ObtenerTelefonosParametrosIdTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreosParametrosIdTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuario" message="tns:IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuarioResponse" message="tns:IServiceParametros_ObtenerCorreosParametrosIdTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosGenerales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosGenerales" message="tns:IServiceParametros_ObtenerParametrosGenerales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosGeneralesResponse" message="tns:IServiceParametros_ObtenerParametrosGenerales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosUsuario" message="tns:IServiceParametros_ObtenerParametrosUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosUsuarioResponse" message="tns:IServiceParametros_ObtenerParametrosUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAliasOrganizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerAliasOrganizacion" message="tns:IServiceParametros_ObtenerAliasOrganizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerAliasOrganizacionResponse" message="tns:IServiceParametros_ObtenerAliasOrganizacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAliasUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerAliasUbicacion" message="tns:IServiceParametros_ObtenerAliasUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerAliasUbicacionResponse" message="tns:IServiceParametros_ObtenerAliasUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdicionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerDatosAdicionales" message="tns:IServiceParametros_ObtenerDatosAdicionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerDatosAdicionalesResponse" message="tns:IServiceParametros_ObtenerDatosAdicionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParemtrosPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParemtrosPassword" message="tns:IServiceParametros_ObtenerParemtrosPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParemtrosPasswordResponse" message="tns:IServiceParametros_ObtenerParemtrosPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosGraficoDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosGraficoDefault" message="tns:IServiceParametros_ObtenerParametrosGraficoDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerParametrosGraficoDefaultResponse" message="tns:IServiceParametros_ObtenerParametrosGraficoDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrecuenciasFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerFrecuenciasFecha" message="tns:IServiceParametros_ObtenerFrecuenciasFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerFrecuenciasFechaResponse" message="tns:IServiceParametros_ObtenerFrecuenciasFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerColoresTop">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerColoresTop" message="tns:IServiceParametros_ObtenerColoresTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerColoresTopResponse" message="tns:IServiceParametros_ObtenerColoresTop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerColoresSla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerColoresSla" message="tns:IServiceParametros_ObtenerColoresSla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerColoresSlaResponse" message="tns:IServiceParametros_ObtenerColoresSla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerArchivosPermitidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerArchivosPermitidos" message="tns:IServiceParametros_ObtenerArchivosPermitidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceParametros/ObtenerArchivosPermitidosResponse" message="tns:IServiceParametros_ObtenerArchivosPermitidos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceParametros" type="tns:IServiceParametros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTelefonosParametrosIdTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerTelefonosParametrosIdTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorreosParametrosIdTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerCorreosParametrosIdTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosGenerales">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerParametrosGenerales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerParametrosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAliasOrganizacion">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerAliasOrganizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAliasUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerAliasUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdicionales">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerDatosAdicionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParemtrosPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerParemtrosPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosGraficoDefault">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerParametrosGraficoDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrecuenciasFecha">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerFrecuenciasFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerColoresTop">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerColoresTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerColoresSla">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerColoresSla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArchivosPermitidos">
      <soap:operation soapAction="http://tempuri.org/IServiceParametros/ObtenerArchivosPermitidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceParametros">
    <wsdl:port name="BasicHttpBinding_IServiceParametros" binding="tns:BasicHttpBinding_IServiceParametros">
      <soap:address location="http://localhost:15277/ServiceParametros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>