KiiniMaster/Service References/ServiceSistemaRoles/ServiceRoles3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
  <xs:import schemaLocation="http://localhost:15277/Sistema/ServiceRoles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ArbolAcceso" nillable="true" type="q1:ArbolAcceso" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Canal" nillable="true" type="q2:Canal" />
      <xs:element minOccurs="0" name="ClaveRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DentroSla" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="Encuesta" nillable="true" type="q3:Encuesta" />
      <xs:element minOccurs="0" name="EncuestaRespondida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsTercero" type="xs:boolean" />
      <xs:element minOccurs="0" name="Espera" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacion" nillable="true" type="q4:EstatusAsignacion" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicket" nillable="true" type="q5:EstatusTicket" />
      <xs:element minOccurs="0" name="FechaFinEspera" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraFinProceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioEspera" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaTermino" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdArbolAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="IdCanal" type="xs:int" />
      <xs:element minOccurs="0" name="IdEncuesta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdImpacto" type="xs:int" />
      <xs:element minOccurs="0" name="IdMascara" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdNivelTicket" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrganizacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdSlaEstimadoTicket" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoArbolAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioLevanto" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioResolvio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioSolicito" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Impacto" nillable="true" type="q6:Impacto" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="Mascara" nillable="true" type="q7:Mascara" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="MascaraSeleccionCatalogo" nillable="true" type="q8:ArrayOfMascaraSeleccionCatalogo" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="NivelTicket" nillable="true" type="q9:NivelTicket" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Organizacion" nillable="true" type="q10:Organizacion" />
      <xs:element minOccurs="0" name="Random" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" minOccurs="0" name="RespuestaEncuesta" nillable="true" type="q11:ArrayOfRespuestaEncuesta" />
      <xs:element minOccurs="0" name="SlaEstimadoTicket" nillable="true" type="tns:SlaEstimadoTicket" />
      <xs:element minOccurs="0" name="TicketAsignacion" nillable="true" type="tns:ArrayOfTicketAsignacion" />
      <xs:element minOccurs="0" name="TicketConversacion" nillable="true" type="tns:ArrayOfTicketConversacion" />
      <xs:element minOccurs="0" name="TicketCorreo" nillable="true" type="tns:ArrayOfTicketCorreo" />
      <xs:element minOccurs="0" name="TicketEstatus" nillable="true" type="tns:ArrayOfTicketEstatus" />
      <xs:element minOccurs="0" name="TicketGrupoUsuario" nillable="true" type="tns:ArrayOfTicketGrupoUsuario" />
      <xs:element minOccurs="0" name="TiempoEspera" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoArbolAcceso" nillable="true" type="q12:TipoArbolAcceso" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q13:TipoUsuario" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Ubicacion" nillable="true" type="q14:Ubicacion" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioLevanto" nillable="true" type="q15:Usuario" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioResolvio" nillable="true" type="q16:Usuario" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioSolicito" nillable="true" type="q17:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfPreTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreTicket" nillable="true" type="tns:PreTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreTicket" nillable="true" type="tns:ArrayOfPreTicket" />
  <xs:complexType name="PreTicket">
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="ArbolAcceso" nillable="true" type="q18:ArbolAcceso" />
      <xs:element minOccurs="0" name="ClaveRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdArbol" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioAtendio" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioSolicito" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioLevanta" nillable="true" type="q19:Usuario" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioSolicito" nillable="true" type="q20:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PreTicket" nillable="true" type="tns:PreTicket" />
  <xs:complexType name="ArrayOfTicketAsignacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketAsignacion" nillable="true" type="tns:TicketAsignacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketAsignacion" nillable="true" type="tns:ArrayOfTicketAsignacion" />
  <xs:complexType name="TicketAsignacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacion" nillable="true" type="q21:EstatusAsignacion" />
      <xs:element minOccurs="0" name="FechaAsignacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioAsignado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioAsigno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioAsignado" nillable="true" type="q22:Usuario" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="UsuarioAsigno" nillable="true" type="q23:Usuario" />
      <xs:element minOccurs="0" name="Visto" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketAsignacion" nillable="true" type="tns:TicketAsignacion" />
  <xs:complexType name="ArrayOfTicketConversacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketConversacion" nillable="true" type="tns:TicketConversacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketConversacion" nillable="true" type="tns:ArrayOfTicketConversacion" />
  <xs:complexType name="TicketConversacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConversacionArchivo" nillable="true" type="tns:ArrayOfConversacionArchivo" />
      <xs:element minOccurs="0" name="FechaGeneracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLectura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Leido" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Privado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sistema" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="Usuario" nillable="true" type="q24:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketConversacion" nillable="true" type="tns:TicketConversacion" />
  <xs:complexType name="ArrayOfConversacionArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConversacionArchivo" nillable="true" type="tns:ConversacionArchivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversacionArchivo" nillable="true" type="tns:ArrayOfConversacionArchivo" />
  <xs:complexType name="ConversacionArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicketConversacion" type="xs:int" />
      <xs:element minOccurs="0" name="TicketConversacion" nillable="true" type="tns:TicketConversacion" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ConversacionArchivo" nillable="true" type="tns:ConversacionArchivo" />
  <xs:complexType name="ArrayOfTicketEstatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketEstatus" nillable="true" type="tns:TicketEstatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketEstatus" nillable="true" type="tns:ArrayOfTicketEstatus" />
  <xs:complexType name="TicketEstatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicket" nillable="true" type="q25:EstatusTicket" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatus" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" minOccurs="0" name="Usuario" nillable="true" type="q26:Usuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketEstatus" nillable="true" type="tns:TicketEstatus" />
  <xs:complexType name="ArrayOfTicketGrupoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketGrupoUsuario" nillable="true" type="tns:TicketGrupoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketGrupoUsuario" nillable="true" type="tns:ArrayOfTicketGrupoUsuario" />
  <xs:complexType name="TicketGrupoUsuario">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="GrupoUsuario" nillable="true" type="q27:GrupoUsuario" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdGrupoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubGrupoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="SubGrupoUsuario" nillable="true" type="q28:SubGrupoUsuario" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketGrupoUsuario" nillable="true" type="tns:TicketGrupoUsuario" />
  <xs:complexType name="SlaEstimadoTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dias" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinProceso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioProceso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Minutos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Segundos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SlaEstimadoTicketDetalle" nillable="true" type="tns:ArrayOfSlaEstimadoTicketDetalle" />
      <xs:element minOccurs="0" name="Terminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
      <xs:element minOccurs="0" name="TiempoDesface" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoHoraProceso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoRetenido" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SlaEstimadoTicket" nillable="true" type="tns:SlaEstimadoTicket" />
  <xs:complexType name="ArrayOfSlaEstimadoTicketDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlaEstimadoTicketDetalle" nillable="true" type="tns:SlaEstimadoTicketDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlaEstimadoTicketDetalle" nillable="true" type="tns:ArrayOfSlaEstimadoTicketDetalle" />
  <xs:complexType name="SlaEstimadoTicketDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dias" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horas" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdSlaEstimadoTicket" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRol" type="xs:int" />
      <xs:element minOccurs="0" name="Minutos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Segundos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SlaEstimadoTicket" nillable="true" type="tns:SlaEstimadoTicket" />
      <xs:element minOccurs="0" name="TiempoProceso" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SlaEstimadoTicketDetalle" nillable="true" type="tns:SlaEstimadoTicketDetalle" />
  <xs:complexType name="ArrayOfTicketCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketCorreo" nillable="true" type="tns:TicketCorreo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketCorreo" nillable="true" type="tns:ArrayOfTicketCorreo" />
  <xs:complexType name="TicketCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketCorreo" nillable="true" type="tns:TicketCorreo" />
</xs:schema>