KiiniMaster/Service References/ServiceSistemaEstatus/ServiceEstatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEstatus" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceEstatus.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusAsignacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacion" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusAsignacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusTicketUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusTicketUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusTicketUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusAsignacionUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacionUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_ObtenerEstatusAsignacionUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstatusAsignacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_HasComentarioObligatorio_InputMessage">
    <wsdl:part name="parameters" element="tns:HasComentarioObligatorio" />
  </wsdl:message>
  <wsdl:message name="IServiceEstatus_HasComentarioObligatorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasComentarioObligatorioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEstatus">
    <wsdl:operation name="ObtenerEstatusTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicket" message="tns:IServiceEstatus_ObtenerEstatusTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicketResponse" message="tns:IServiceEstatus_ObtenerEstatusTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacion" message="tns:IServiceEstatus_ObtenerEstatusAsignacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacionResponse" message="tns:IServiceEstatus_ObtenerEstatusAsignacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicketUsuario" message="tns:IServiceEstatus_ObtenerEstatusTicketUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicketUsuarioResponse" message="tns:IServiceEstatus_ObtenerEstatusTicketUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacionUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacionUsuario" message="tns:IServiceEstatus_ObtenerEstatusAsignacionUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacionUsuarioResponse" message="tns:IServiceEstatus_ObtenerEstatusAsignacionUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasComentarioObligatorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEstatus/HasComentarioObligatorio" message="tns:IServiceEstatus_HasComentarioObligatorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEstatus/HasComentarioObligatorioResponse" message="tns:IServiceEstatus_HasComentarioObligatorio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceEstatus">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEstatusTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacion">
      <soap:operation soapAction="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusTicketUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceEstatus/ObtenerEstatusTicketUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstatusAsignacionUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceEstatus/ObtenerEstatusAsignacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasComentarioObligatorio">
      <soap:operation soapAction="http://tempuri.org/IServiceEstatus/HasComentarioObligatorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEstatus">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceEstatus.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>