KiiniHelp/Service References/ServiceUsuario/ServiceUsuarios14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceUsuarios.svc?xsd=xsd16" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfHelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperCampoMascaraCaptura" nillable="true" type="tns:ArrayOfHelperCampoMascaraCaptura" />
  <xs:complexType name="HelperCampoMascaraCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperCampoMascaraCaptura" nillable="true" type="tns:HelperCampoMascaraCaptura" />
  <xs:complexType name="HelperUsuario">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Correos" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Creado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimoLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTicketsAbiertos" type="xs:int" />
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Telefonos" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="TicketsAbiertos" nillable="true" type="tns:ArrayOfHelperTicketsUsuario" />
      <xs:element minOccurs="0" name="TipoUsuarioDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaActualizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vip" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperUsuario" nillable="true" type="tns:HelperUsuario" />
  <xs:complexType name="ArrayOfHelperTicketsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HelperTicketsUsuario" nillable="true" type="tns:HelperTicketsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHelperTicketsUsuario" nillable="true" type="tns:ArrayOfHelperTicketsUsuario" />
  <xs:complexType name="HelperTicketsUsuario">
    <xs:sequence>
      <xs:element name="_x003C_IdTicket_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Tipificacion_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelperTicketsUsuario" nillable="true" type="tns:HelperTicketsUsuario" />
</xs:schema>