KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceParametrosSistema/ServiceParametros11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
  <xs:import schemaLocation="http://localhost:15277/ServiceParametros.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
  <xs:complexType name="ArrayOfEstatusAsignacionSubRolGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusAsignacionSubRolGeneral" nillable="true" type="tns:EstatusAsignacionSubRolGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusAsignacionSubRolGeneral" nillable="true" type="tns:ArrayOfEstatusAsignacionSubRolGeneral" />
  <xs:complexType name="EstatusAsignacionSubRolGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComentarioObligado" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacionAccion" nillable="true" type="q1:EstatusAsignacion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacionActual" nillable="true" type="q2:EstatusAsignacion" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="GrupoUsuario" nillable="true" type="q3:GrupoUsuario" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacionAccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacionActual" type="xs:int" />
      <xs:element minOccurs="0" name="IdGrupoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Propietario" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Rol" nillable="true" type="q4:Rol" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRol" nillable="true" type="q5:SubRol" />
      <xs:element minOccurs="0" name="TieneSupervisor" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EstatusAsignacionSubRolGeneral" nillable="true" type="tns:EstatusAsignacionSubRolGeneral" />
  <xs:complexType name="ArrayOfEstatusAsignacionSubRolGeneralDefault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusAsignacionSubRolGeneralDefault" nillable="true" type="tns:EstatusAsignacionSubRolGeneralDefault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusAsignacionSubRolGeneralDefault" nillable="true" type="tns:ArrayOfEstatusAsignacionSubRolGeneralDefault" />
  <xs:complexType name="EstatusAsignacionSubRolGeneralDefault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComentarioObligado" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacionAccion" nillable="true" type="q6:EstatusAsignacion" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacionActual" nillable="true" type="q7:EstatusAsignacion" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacionAccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacionActual" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Propietario" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Rol" nillable="true" type="q8:Rol" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRol" nillable="true" type="q9:SubRol" />
      <xs:element minOccurs="0" name="TieneSupervisor" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EstatusAsignacionSubRolGeneralDefault" nillable="true" type="tns:EstatusAsignacionSubRolGeneralDefault" />
  <xs:complexType name="ArrayOfEstatusTicketSubRolGeneralDefault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusTicketSubRolGeneralDefault" nillable="true" type="tns:EstatusTicketSubRolGeneralDefault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusTicketSubRolGeneralDefault" nillable="true" type="tns:ArrayOfEstatusTicketSubRolGeneralDefault" />
  <xs:complexType name="EstatusTicketSubRolGeneralDefault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComentarioObligado" type="xs:boolean" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicketAccion" nillable="true" type="q10:EstatusTicket" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicketActual" nillable="true" type="q11:EstatusTicket" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="GrupoUsuario" nillable="true" type="q12:GrupoUsuario" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicketAccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicketActual" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolPertenece" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolSolicita" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRolPertenece" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRolSolicita" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LevantaTicket" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="RolPertenece" nillable="true" type="q13:Rol" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="RolSolicita" nillable="true" type="q14:Rol" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRolPertenece" nillable="true" type="q15:SubRol" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubSolicita" nillable="true" type="q16:SubRol" />
      <xs:element minOccurs="0" name="TieneSupervisor" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EstatusTicketSubRolGeneralDefault" nillable="true" type="tns:EstatusTicketSubRolGeneralDefault" />
  <xs:complexType name="ArrayOfEstatusTicketSubRolGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusTicketSubRolGeneral" nillable="true" type="tns:EstatusTicketSubRolGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusTicketSubRolGeneral" nillable="true" type="tns:ArrayOfEstatusTicketSubRolGeneral" />
  <xs:complexType name="EstatusTicketSubRolGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComentarioObligado" type="xs:boolean" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicketAccion" nillable="true" type="q17:EstatusTicket" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusTicketActual" nillable="true" type="q18:EstatusTicket" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" minOccurs="0" name="GrupoUsuario" nillable="true" type="q19:GrupoUsuario" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicketAccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusTicketActual" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdGrupoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolPertenece" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolSolicita" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRolPertenece" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRolSolicita" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LevantaTicket" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="RolPertenece" nillable="true" type="q20:Rol" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="RolSolicita" nillable="true" type="q21:Rol" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRolPertenece" nillable="true" type="q22:SubRol" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubSolicita" nillable="true" type="q23:SubRol" />
      <xs:element minOccurs="0" name="TieneSupervisor" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EstatusTicketSubRolGeneral" nillable="true" type="tns:EstatusTicketSubRolGeneral" />
  <xs:complexType name="ArrayOfParametroDatosAdicionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroDatosAdicionales" nillable="true" type="tns:ParametroDatosAdicionales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroDatosAdicionales" nillable="true" type="tns:ArrayOfParametroDatosAdicionales" />
  <xs:complexType name="ParametroDatosAdicionales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdMascara" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" minOccurs="0" name="Mascara" nillable="true" type="q24:Mascara" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q25:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroDatosAdicionales" nillable="true" type="tns:ParametroDatosAdicionales" />
  <xs:complexType name="ArrayOfAliasOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AliasOrganizacion" nillable="true" type="tns:AliasOrganizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAliasOrganizacion" nillable="true" type="tns:ArrayOfAliasOrganizacion" />
  <xs:complexType name="AliasOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q26:TipoUsuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AliasOrganizacion" nillable="true" type="tns:AliasOrganizacion" />
  <xs:complexType name="ArrayOfAliasUbicacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AliasUbicacion" nillable="true" type="tns:AliasUbicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAliasUbicacion" nillable="true" type="tns:ArrayOfAliasUbicacion" />
  <xs:complexType name="AliasUbicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q27:TipoUsuario" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AliasUbicacion" nillable="true" type="tns:AliasUbicacion" />
  <xs:complexType name="ArrayOfParametrosUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametrosUsuario" nillable="true" type="tns:ParametrosUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametrosUsuario" nillable="true" type="tns:ArrayOfParametrosUsuario" />
  <xs:complexType name="ParametrosUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrganizacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Organizacion" nillable="true" type="q28:Organizacion" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="TipoUsuario" nillable="true" type="q29:TipoUsuario" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" minOccurs="0" name="Ubicacion" nillable="true" type="q30:Ubicacion" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ParametrosUsuario" nillable="true" type="tns:ParametrosUsuario" />
  <xs:complexType name="ArrayOfGraficosDefault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraficosDefault" nillable="true" type="tns:GraficosDefault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraficosDefault" nillable="true" type="tns:ArrayOfGraficosDefault" />
  <xs:complexType name="GraficosDefault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrecuenciaFecha" nillable="true" type="tns:FrecuenciaFecha" />
      <xs:element minOccurs="0" name="Geografico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFrecuenciaFecha" type="xs:int" />
      <xs:element minOccurs="0" name="IdMenu" type="xs:int" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="Menu" nillable="true" type="q31:Menu" />
      <xs:element minOccurs="0" name="Pareto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="Pie" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stack" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="GraficosDefault" nillable="true" type="tns:GraficosDefault" />
  <xs:complexType name="FrecuenciaFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraficosDefault" nillable="true" type="tns:ArrayOfGraficosDefault" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodoMaximo" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="FrecuenciaFecha" nillable="true" type="tns:FrecuenciaFecha" />
  <xs:complexType name="ArrayOfSubRolEscalacionPermitida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubRolEscalacionPermitida" nillable="true" type="tns:SubRolEscalacionPermitida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubRolEscalacionPermitida" nillable="true" type="tns:ArrayOfSubRolEscalacionPermitida" />
  <xs:complexType name="SubRolEscalacionPermitida">
    <xs:sequence>
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="EstatusAsignacion" nillable="true" type="q32:EstatusAsignacion" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstatusAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSubRolPermitido" type="xs:int" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRol" nillable="true" type="q33:SubRol" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" minOccurs="0" name="SubRolPermitido" nillable="true" type="q34:SubRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubRolEscalacionPermitida" nillable="true" type="tns:SubRolEscalacionPermitida" />
  <xs:complexType name="ParametrosGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiasCierreTicket" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FormularioPortal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrecuenciaDemonioSegundos" type="xs:int" />
      <xs:element minOccurs="0" name="FrecuenciaNotificacionMinutos" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LevantaTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeValidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajesNotificacion" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDashboard" type="xs:int" />
      <xs:element minOccurs="0" name="StrongPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="TamanoDeArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidaUsuario" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ParametrosGenerales" nillable="true" type="tns:ParametrosGenerales" />
  <xs:complexType name="ParametroPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlmacenAnterior" type="xs:int" />
      <xs:element minOccurs="0" name="CaducaPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="Especiales" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Letras" type="xs:boolean" />
      <xs:element minOccurs="0" name="Max" type="xs:int" />
      <xs:element minOccurs="0" name="Mayusculas" type="xs:int" />
      <xs:element minOccurs="0" name="Min" type="xs:int" />
      <xs:element minOccurs="0" name="Numeros" type="xs:boolean" />
      <xs:element minOccurs="0" name="TiempoCaducidad" type="xs:int" />
      <xs:element minOccurs="0" name="TimeoutFail" type="xs:int" />
      <xs:element minOccurs="0" name="Tries" type="xs:int" />
      <xs:element minOccurs="0" name="ValidaAnterior" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ParametroPassword" nillable="true" type="tns:ParametroPassword" />
  <xs:complexType name="ArrayOfFrecuenciaFecha">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrecuenciaFecha" nillable="true" type="tns:FrecuenciaFecha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrecuenciaFecha" nillable="true" type="tns:ArrayOfFrecuenciaFecha" />
  <xs:complexType name="ArrayOfColoresTop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoresTop" nillable="true" type="tns:ColoresTop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoresTop" nillable="true" type="tns:ArrayOfColoresTop" />
  <xs:complexType name="ColoresTop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ColoresTop" nillable="true" type="tns:ColoresTop" />
  <xs:complexType name="ArrayOfColoresSla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoresSla" nillable="true" type="tns:ColoresSla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoresSla" nillable="true" type="tns:ArrayOfColoresSla" />
  <xs:complexType name="ColoresSla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dentro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ColoresSla" nillable="true" type="tns:ColoresSla" />
  <xs:complexType name="ArrayOfArchivosPermitidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchivosPermitidos" nillable="true" type="tns:ArchivosPermitidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchivosPermitidos" nillable="true" type="tns:ArrayOfArchivosPermitidos" />
  <xs:complexType name="ArchivosPermitidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extensiones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ArchivosPermitidos" nillable="true" type="tns:ArchivosPermitidos" />
</xs:schema>