KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceGrupoUsuario/ServiceGrupoUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGrupoUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
      <xsd:import schemaLocation="http://localhost:15277/ServiceGrupoUsuario.svc?xsd=xsd14" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdTipoSubGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdTipoSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRolTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRolTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRolTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRolTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRol" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioByIdRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_GuardarGrupoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGrupoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_GuardarGrupoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarGrupoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuarioById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuarioById" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoUsuarioById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoUsuarioByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioSistema" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioNivel" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioNivelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposDeUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposDeUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposDeUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposDeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_HabilitarGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_HabilitarGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioAll" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ActualizarGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ActualizarGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerHorariosByIdSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorariosByIdSubGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerHorariosByIdSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorariosByIdSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerDiasByIdSubGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDiasByIdSubGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerDiasByIdSubGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDiasByIdSubGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupos" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposByIdUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposByIdUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposByIdUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposByIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioResponsablesByGruposTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioResponsablesByGruposTipoServicio" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposUsuarioResponsablesByGruposTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposUsuarioResponsablesByGruposTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposAtencionByIdUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposAtencionByIdUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGruposAtencionByIdUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGruposAtencionByIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoDefaultRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoDefaultRol" />
  </wsdl:message>
  <wsdl:message name="IServiceGrupoUsuario_ObtenerGrupoDefaultRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoDefaultRolResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceGrupoUsuario">
    <wsdl:operation name="ObtenerGruposUsuarioTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioTipoUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioTipoUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdTipoSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupo" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupoResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdTipoSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRolTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRolTipoUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRolTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRolTipoUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRolTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRol" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRolResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioByIdRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarGrupoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuario" message="tns:IServiceGrupoUsuario_GuardarGrupoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuarioResponse" message="tns:IServiceGrupoUsuario_GuardarGrupoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuarioById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioById" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuarioById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioByIdResponse" message="tns:IServiceGrupoUsuario_ObtenerGrupoUsuarioById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistema" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistemaResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioNivel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivel" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivelResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioNivel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposDeUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposDeUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposDeUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposDeUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposDeUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/HabilitarGrupo" message="tns:IServiceGrupoUsuario_HabilitarGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/HabilitarGrupoResponse" message="tns:IServiceGrupoUsuario_HabilitarGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioAll" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioAllResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ActualizarGrupo" message="tns:IServiceGrupoUsuario_ActualizarGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ActualizarGrupoResponse" message="tns:IServiceGrupoUsuario_ActualizarGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorariosByIdSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerHorariosByIdSubGrupo" message="tns:IServiceGrupoUsuario_ObtenerHorariosByIdSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerHorariosByIdSubGrupoResponse" message="tns:IServiceGrupoUsuario_ObtenerHorariosByIdSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDiasByIdSubGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerDiasByIdSubGrupo" message="tns:IServiceGrupoUsuario_ObtenerDiasByIdSubGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerDiasByIdSubGrupoResponse" message="tns:IServiceGrupoUsuario_ObtenerDiasByIdSubGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupos" message="tns:IServiceGrupoUsuario_ObtenerGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposResponse" message="tns:IServiceGrupoUsuario_ObtenerGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposByIdUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposByIdUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposByIdUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposByIdUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposByIdUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioResponsablesByGruposTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioResponsablesByGruposTipoServicio" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioResponsablesByGruposTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioResponsablesByGruposTipoServicioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposUsuarioResponsablesByGruposTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposAtencionByIdUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposAtencionByIdUsuario" message="tns:IServiceGrupoUsuario_ObtenerGruposAtencionByIdUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposAtencionByIdUsuarioResponse" message="tns:IServiceGrupoUsuario_ObtenerGruposAtencionByIdUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoDefaultRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoDefaultRol" message="tns:IServiceGrupoUsuario_ObtenerGrupoDefaultRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoDefaultRolResponse" message="tns:IServiceGrupoUsuario_ObtenerGrupoDefaultRol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointAdministracion" type="tns:IServiceGrupoUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerGruposUsuarioTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdTipoSubGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdTipoSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRolTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRolTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioByIdRol">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioByIdRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarGrupoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/GuardarGrupoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoUsuarioById">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoUsuarioById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioSistema">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioNivel">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioNivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposDeUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposDeUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/HabilitarGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioAll">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ActualizarGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorariosByIdSubGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerHorariosByIdSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDiasByIdSubGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerDiasByIdSubGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupos">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposByIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposByIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposUsuarioResponsablesByGruposTipoServicio">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposUsuarioResponsablesByGruposTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGruposAtencionByIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGruposAtencionByIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoDefaultRol">
      <soap:operation soapAction="http://tempuri.org/IServiceGrupoUsuario/ObtenerGrupoDefaultRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGrupoUsuario">
    <wsdl:port name="EndPointAdministracion" binding="tns:EndPointAdministracion">
      <soap:address location="http://localhost:15277/ServiceGrupoUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>