KiiniHelp_Backup_2019.05.02_03.47.46/Service References/ServiceSistemaSubRol/ServiceSubRol.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSubRol" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Sistema" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Parametros" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Usuario" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Organizacion" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Ubicaciones.Domicilio" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Tickets" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Mascaras" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Operacion.Usuarios" />
      <xsd:import schemaLocation="http://localhost:15277/Sistema/ServiceSubRol.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KiiniNet.Entities.Cat.Arbol.Nodos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolesByTipoGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolesByTipoGrupo" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolesByTipoGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolesByTipoGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolById_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolById" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolesByGrupoUsuarioRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolesByGrupoUsuarioRol" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolesByGrupoUsuarioRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolesByGrupoUsuarioRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerTipoSubRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoSubRol" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerTipoSubRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoSubRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerEscalacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEscalacion" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerEscalacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEscalacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolEscalacionPermitida_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolEscalacionPermitida" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_ObtenerSubRolEscalacionPermitida_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSubRolEscalacionPermitidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_HabilitarPoliticaEscalacion_InputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEscalacion" />
  </wsdl:message>
  <wsdl:message name="IServiceSubRol_HabilitarPoliticaEscalacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabilitarPoliticaEscalacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSubRol">
    <wsdl:operation name="ObtenerSubRolesByTipoGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByTipoGrupo" message="tns:IServiceSubRol_ObtenerSubRolesByTipoGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByTipoGrupoResponse" message="tns:IServiceSubRol_ObtenerSubRolesByTipoGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolById" message="tns:IServiceSubRol_ObtenerSubRolById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolByIdResponse" message="tns:IServiceSubRol_ObtenerSubRolById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolesByGrupoUsuarioRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByGrupoUsuarioRol" message="tns:IServiceSubRol_ObtenerSubRolesByGrupoUsuarioRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByGrupoUsuarioRolResponse" message="tns:IServiceSubRol_ObtenerSubRolesByGrupoUsuarioRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoSubRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerTipoSubRol" message="tns:IServiceSubRol_ObtenerTipoSubRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerTipoSubRolResponse" message="tns:IServiceSubRol_ObtenerTipoSubRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEscalacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerEscalacion" message="tns:IServiceSubRol_ObtenerEscalacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerEscalacionResponse" message="tns:IServiceSubRol_ObtenerEscalacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolEscalacionPermitida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolEscalacionPermitida" message="tns:IServiceSubRol_ObtenerSubRolEscalacionPermitida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/ObtenerSubRolEscalacionPermitidaResponse" message="tns:IServiceSubRol_ObtenerSubRolEscalacionPermitida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEscalacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSubRol/HabilitarPoliticaEscalacion" message="tns:IServiceSubRol_HabilitarPoliticaEscalacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSubRol/HabilitarPoliticaEscalacionResponse" message="tns:IServiceSubRol_HabilitarPoliticaEscalacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndPointSeguridad" type="tns:IServiceSubRol">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerSubRolesByTipoGrupo">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByTipoGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolById">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerSubRolById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolesByGrupoUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerSubRolesByGrupoUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoSubRol">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerTipoSubRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEscalacion">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerEscalacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSubRolEscalacionPermitida">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/ObtenerSubRolEscalacionPermitida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabilitarPoliticaEscalacion">
      <soap:operation soapAction="http://tempuri.org/IServiceSubRol/HabilitarPoliticaEscalacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSubRol">
    <wsdl:port name="EndPointSeguridad" binding="tns:EndPointSeguridad">
      <soap:address location="http://localhost:15277/Sistema/ServiceSubRol.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>